<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="/img/cskakaocom/pc/meta.png" property="og:image">
    <link href="https://cs.kakao.com/css/pc/common.css" media="screen" rel="stylesheet">
    <link rel="shortcut icon" href="https://cs.kakao.com/favicon.ico">
    <meta charset="UTF-8">


    <script src="customer_service_center_main.js"></script>

    <title>고객센터</title>
</head>
<body>
<!--    <div id="playgroundIndex">-->
<!--        <a>본문 바로가기</a>-->
<!--    </div>-->
    <div id="playgroundWrap">
        <header id="playgroundHead">
            <div class="cs_head">
                <div class="info_other">
                    <div class="wrap_lang" id="btnLang">
                        <a class="link_lang" href="javascript:void(0);" aria-expanded="false" aria-controls="sel_lang">
                            <span class="screen_out">언어 선택</span>
                            한국어
                            <span class="ico_cs"></span>
                        </a>
                        <ul class="list_lang">
                            <li>
                                <a class="link_item" href="/setLocale?locale=ko" aria-current="true">
                                    한국어
                                    <!--                                <span class="ico_cs"></span>-->
                                </a>
                            </li>
                            <li>
                                <a class="link_item" href="/setLocale?locale=en" aria-current="false">
                                    English
                                    <!--                                <span class="ico_cs"></span>-->
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="wrap_login">
                        <a class="link_login btn_login" id="btn_login" href="https://accounts.kakao.com/login?continue=">
                            로그인
                        </a>
                    </div>
                </div>

                <h1 class="tit_cs">
                    <a href="/" id="playgroundServiceLogo">
                        <img alt="playground 고객센터" class="img_cs" height="38" src="https://cs.kakao.com/img/cskakaocom/pc/tit_cs2.gif" width="208">
                    </a>
                </h1>

                <div class="wrap_search" id="wrapSearch">
                    <h2 class="screen_out">검색</h2>
                    <!-- 검색 창 -->
                    <form accept-charset="UTF-8" action="/search" id="searchForm" method="get" onsubmit="return onSubmitSearchForm()">
                        <fieldset>
                            <legend class="screen_out">검색어 입력폼</legend>
                            <div class="box_searchbar" id="boxSearchbar">
                                <label class="lab_keyword" for="query" id="labKeyword">
                                    궁금한 점이 있다면 도움말을 검색해 보세요.
                                    <span class="screen_out">도움말 검색, 자동완성, 글자 입력후 방향키를 사용하여 탐색 가능</span>
                                </label>
                                <input autocomplete="off" class="tf_keyword" id="query" name="query" type="text" value="" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="suggestUl">
                                <button class="ico_cs btn_search" type="submit">
                                    <span class="ir_wa">검색</span>
                                </button>
                            </div>
                        </fieldset>
                    </form>
                    <!--                <div id="suggest_live_alert" role="status">&lt;!&ndash; 서제스트 활성화 알림&ndash;&gt;-->
                    <!--                  <strong class="screen_out">0개 제안 검색어 표시됨</strong>-->
                    <!--                </div>-->
                    <div id="box_suggest" class="box_suggest" style="z-index: 12">
                        <strong class="screen_out">제안 검색어 목록</strong>
                        <ul class="list_suggest" role="listbox" id="suggestUl"></ul></div>
                    <!-- //검색 창 -->
                    <!-- 추천검색어 목록-->
                    <div class="search_keyword">
                        <h2 class="screen_out">추천 검색어 목록</h2>

                        <a href="search?query=선생님께 질문 방법">선생님께 질문 방법</a>
                        <a href="search?query=비밀번호 변경">비밀번호 변경</a>
                        <a href="search?query=커뮤니티 이용하기">커뮤니티 이용하기</a>
                        <a href="search?query=정보변경">정보변경</a>
                        <a href="search?query=이용제한">이용제한</a>
                    </div>
                </div>
            </div>
<!--            공지사항-->
            <div class="cs_navi">
                <div class="inner_navi">
                    <strong class="screen_out">현재 페이지</strong>
                    <ul class="list_path">
                        <li>
                            <a class="link_path" href="/">
                                홈
                            </a>
                            <span class="ico_cs ico_arr">&gt;</span>
                        </li>
                        <li aria-current="page">
                            <a class="link_path" href="/helps?service=72&amp;locale=ko">
                                유용한 도움말
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
<!--            네비게이션-->
<!--            네비게이션-->

        </header>
    </div>
<hr class="hide">
<main id="playgroundContent" style="display: block; width: 990px; margin: 0 auto; min-height: 484px;">
    <div id="cMain">
        <div class="dimmed_layer"> </div>
        <div class="basic_layer">
            <div class="inner_basic_layer">
<!--                modal창(로그인 관련쪽-->
                <div class="wrap_cont">
<!--                    카카오 로그인 alert-->
                    <div class="cont_layer selectLayer" id="loginAlert" style="">
                        <div class="layer_head">
                            <h2 class="tit_layer">로그인 하시겠습니까?</h2>
                        </div>
                        <div class="layer_body">
                            <p class="desc_txt">로그인하시면 조금 더 편리하게 문의를 남기실 수 있습니다.<br>(로그인하지 않으셔도 접수는 가능합니다)</p>
                        </div>
                        <div class="layer_foot">
                            <button class="btn_layer close first_focus" id="callLoginLayer" type="button">
                                확인
                            </button>
                            <button class="btn_layer close last_focus" type="button">
                                취소
                            </button>
                        </div>
                    </div>
                </div>
<!--                카카오 로그인 alert 2-->
                <div class="cont_layer" id="loginAlert" style="display:none;">
                    <div class="layer_head">
                        <h2 class="tit_layer">SMS 인증 후 신고하기</h2>
                    </div>
                    <div class="layer_body">
                        <p class="desc_txt">정상적으로 문의가 접수되었습니다.&lt;br/&gt;처리결과는 기재하신 연락처(휴대폰번호/이메일)로 회신드리겠습니다.</p>
                    </div>
                    <div class="layer_foot">
                        <button class="btn_layer close first_focus" id="callLoginLayer" type="button">
                            확인
                        </button>
                        <button class="btn_layer close last_focus" type="button">
                            취소
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 내용 -->
        <div>
            <!-- side navigation -->
            <div id="mFeature">
                <h2 class="tit_menu"> playground <br>(놀이터) </h2>
                <strong class="screen_out" id="lnb">
                    playground(놀이터) 메뉴
                </strong>

                <nav id="kakaoGnb" aria-labelledby="lnb">
                    <ul class="list_menu">
                        <li class="on">
                            <a class="link_menu" href="/helps?service=72&amp;category=150&amp;locale=ko">
                                서비스 이용 문의
                                <span class="screen_out"> 선택됨 </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- side navigation -->
<!--            오른쪽 본문쪽-->
            <article class="cont_public" id="mArticle">
                <h2 class="screen_out" id="kakaoBody"> playgorund(놀이터) 고객센터 본문 </h2>
                <h3 class="tit_public"> 서비스 이용 문의 </h3>

                <ol class="wrap_cont" id="faq_list">
                    <li class="item_info on" data-id="1073184833" aria-expanded="ture">
                        <div class="info_tit">
                            <a class="link_cont" data-faq-url="/helps?articleId=1073184833&amp;service=72&amp;category=150&amp;device=&amp;locale=ko" data-id="1073184833" href="/helps?articleId=1073184833&amp;service=72&amp;category=150&amp;device=&amp;locale=ko" onclick="return false ;">
                                <span class="num_info">1</span>
                                <strong class="tit_info"> playground(놀이터)는 어떤 서비스인가요? </strong>

                                <span class="btn_arr">
                                    <span class="ico_arr ico_cs" aria-hidden="true">
                                        내용 영역 열기
                                    </span>
                                </span>
                            </a>

                        </div>
                        <div class="info_cont">
                            <div class="content help_contents" id="1073184833">
                                <p style="line-height: 1;">
                                    <span style="color: rgb(0, 0, 0);">playground(놀이터)는&nbsp;</span>
                                </p>
                                <p style="line-height: 1;">
                                    <span style="color: rgb(0, 0, 0);">교사와 학생이 모두 사용할 수 있는 소통 플랫폼입니다..&nbsp;</span>
                                </p><p style="line-height: 1;">
                                <span style="color: rgb(0, 0, 0);">교사와 학생의 관계를 변화시키고 싶어요.&nbsp;</span>
                            </p>
                                <p style="line-height: 1;"><br></p>
                                <p style="line-height: 1;">
                                    <span style="color: rgb(231, 99, 99);">교사 또는 학생이면 누구나 가입하여 활동 할 수 있어요.&nbsp;</span>
                                </p>
                                <p style="line-height: 1;"><span style="color: rgb(0, 0, 0);">playground(놀이터)는 교사와 학생에게 열려있습니다.
                                    <span style="line-height: 1;">&nbsp;</span>
                                </span>
                                </p>
                                <p style="line-height: 1;"><span style="color: rgb(0, 0, 0);">고민을 털어 놓고 싶다면 언제든 '고민상담게시판'을 이용해보세요.&nbsp;</span>
                                </p>
                                <p style="line-height: 1;"><span style="color: rgb(0, 0, 0);">성적을 올리고 싶다면 싶다면 '과목별 예상문제'를,&nbsp;</span>
                                </p>
                                <p style="line-height: 1;">
                                    <span style="color: rgb(0, 0, 0);">자신의 학교를 자랑하고 싶다면 '자우게시판'을 이용해주세요.&nbsp;</span>
                                </p>
                                <p style="line-height: 1;"><br></p>
                                <p style="line-height: 1;">
                                    <span style="color: rgb(0, 0, 0);">게시판을 이용하는 것 만으로도 또 다른 친구 또 다른 교사와 친밀해질 수 있어요.&nbsp;</span>
                                </p>
                                <p style="line-height: 1;">
                                    <span style="color: rgb(0, 0, 0);">모르는 문제나 어려운 문제를 공유하거나, 해당 문제를 등록해주시면&nbsp;</span>
                                </p>
                                <p style="line-height: 1;">
                                    <span style="color: rgb(0, 0, 0);">다른 사용자들이 여러분들을 도와줄께에요.&nbsp;</span>
                                </p>
                                <p style="line-height: 1;">
                                    <span style="color: rgb(0, 0, 0);"><br></span>
                                </p>
                                <p style="line-height: 1;">
                                    <span style="color: rgb(231, 99, 99);">함께 소통을 해봐요.&nbsp;</span>
                                </p>
                                <p style="line-height: 1;">
                                    <span style="color: rgb(0, 0, 0);">당신의 작은 참여가 관계 개선에 씨앗이 됩니다..&nbsp;</span>
                                </p>
                                <p style="line-height: 1;">
                                    <span style="color: rgb(0, 0, 0);">우리 함께 소통의 장으로 만들어가요.&nbsp;</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="item_info" data-id="1073184834">
                        <div class="info_tit">
                            <a class="link_cont" data-faq-url="/helps?articleId=1073184834&amp;service=72&amp;category=150&amp;device=&amp;locale=ko" data-id="1073184834" href="/helps?articleId=1073184834&amp;service=72&amp;category=150&amp;device=&amp;locale=ko" onclick="return false ;">
                                <span class="num_info">2</span>
                                <strong class="tit_info"> playgorund(놀이터)에 가입하고 싶어요. </strong>

                                <span class="btn_arr">
                                    <span class="ico_arr ico_cs" aria-hidden="true">
                                        내용 영역 열기
                                    </span>
                                </span>
                            </a>

                        </div>
                        <div class="info_cont">
                            <div class="content help_contents" id="1073184834">
                                <p>
                                    <span style="color: rgb(0, 0, 0);">playground(놀이터)는 교사 또는 학생이면 인증후에</span>
                                </p>
                                <p>
                                    <span style="color: rgb(0, 0, 0);">교사 또는 학생이라면 이용하실 수 있습니다.&nbsp;</span>
                                </p>
                                <p>
                                    <span style="color: rgb(0, 0, 0);"><br></span>
                                </p>
                                <p>
                                    <a href="https://accounts.kakao.com/weblogin/create_account?continue=https%3A%2F%2Ftogether.kakao.com%2Fauroville%2Fdonate" target="_blank" title="새창열림">◆ playground(놀이터) 회원 가입하기</a>&nbsp;
                                </p>
                                <p><br></p>
                            </div>
                        </div>
                    </li>
                    <li class="item_info" data-id="1073185571">
                        <div class="info_tit">
                            <a class="link_cont" data-faq-url="/helps?articleId=1073185571&amp;service=72&amp;category=150&amp;device=&amp;locale=ko" data-id="1073185571" href="/helps?articleId=1073185571&amp;service=72&amp;category=150&amp;device=&amp;locale=ko" onclick="return false ;">
                                <span class="num_info">3</span>
                                <strong class="tit_info"> playground(놀이터)를 탈퇴하고 싶어요. </strong>

                                <span class="btn_arr">
                                    <span class="ico_arr ico_cs" aria-hidden="true">
                                        내용 영역 열기
                                    </span>
                                </span>
                            </a>

                        </div>
                        <div class="info_cont">
                            <div class="content help_contents" id="1073185571">
                                <p style="margin-bottom: 0px; zoom: 1; padding: 0px; font-family: &quot;apple SD gothic neo&quot;, &quot;Malgun Gothic&quot;, &quot;맑은 고딕&quot;, dotum, 돋움, sans-serif; line-height: 18px;">
                                    <span style="color: rgb(0, 0, 0);">안녕하세요.&nbsp;</span>
                                </p>
                                <p style="margin-bottom: 0px; zoom: 1; padding: 0px; font-family: &quot;apple SD gothic neo&quot;, &quot;Malgun Gothic&quot;, &quot;맑은 고딕&quot;, dotum, 돋움, sans-serif; line-height: 18px;"><br></p>
                                <p style="margin-bottom: 0px; zoom: 1; padding: 0px; font-family: &quot;apple SD gothic neo&quot;, &quot;Malgun Gothic&quot;, &quot;맑은 고딕&quot;, dotum, 돋움, sans-serif; line-height: 18px;">
                                    <span style="color: rgb(0, 0, 0);">탈퇴를 결심하셨다니 ㅠㅠ&nbsp;</span>
                                </p>
                                <p style="margin-bottom: 0px; zoom: 1; padding: 0px; font-family: &quot;apple SD gothic neo&quot;, &quot;Malgun Gothic&quot;, &quot;맑은 고딕&quot;, dotum, 돋움, sans-serif; line-height: 18px;">
                                    <span style="color: rgb(0, 0, 0);">정말 마음이 아프네요.&nbsp;</span>
                                </p>
                                <p style="margin-bottom: 0px; zoom: 1; padding: 0px; font-family: &quot;apple SD gothic neo&quot;, &quot;Malgun Gothic&quot;, &quot;맑은 고딕&quot;, dotum, 돋움, sans-serif; line-height: 18px;">
                                    <span style="color: rgb(0, 0, 0);"><br></span>
                                </p>
                                <p style="margin-bottom: 0px; zoom: 1; padding: 0px; line-height: 18px;">
                                    <span style="color: rgb(0, 0, 0);">
                                        <span style="font-family: &quot;apple SD gothic neo&quot;, &quot;Malgun Gothic&quot;, &quot;맑은 고딕&quot;, dotum, 돋움, sans-serif;">
                                            탈퇴는
                                            <a href="https://together.kakao.com/preferences" target="_blank" title="새창열림">설정 &gt; playground(놀이터) 탈퇴</a>&nbsp;
                                        </span>
                                    </span>
                                    <span style="color: rgb(0, 0, 0); font-family: &quot;apple SD gothic neo&quot;, &quot;Malgun Gothic&quot;, &quot;맑은 고딕&quot;, dotum, 돋움, sans-serif;">메뉴에서 할 수 있습니다.&nbsp;</span>감사합니다.&nbsp;
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="item_info" data-id="1073184838">
                        <div class="info_tit">
                            <a class="link_cont" data-faq-url="/helps?articleId=1073184838&amp;service=72&amp;category=150&amp;device=&amp;locale=ko" data-id="1073184838" href="/helps?articleId=1073184838&amp;service=72&amp;category=150&amp;device=&amp;locale=ko" onclick="return false ;">
                                <span class="num_info">4</span>
                                <strong class="tit_info"> playground(놀이터)에 로그인후  무엇을 해야되나요?? </strong>

                                <span class="btn_arr">
                                    <span class="ico_arr ico_cs" aria-hidden="true">
                                        내용 영역 열기
                                    </span>
                                </span>
                            </a>

                        </div>
                        <div class="info_cont">
                            <div class="content help_contents" id="1073184838">
                                <p>
                                    <span style="color: rgb(0, 0, 0);">안녕하세요.&nbsp;
                                        <span style="font-family: &quot;apple SD gothic neo&quot;, &quot;Malgun Gothic&quot;, &quot;맑은 고딕&quot;, dotum, 돋움, sans-serif;">playground(놀이터)</span>&nbsp;새내기님 ^^
                                    </span>
                                </p>
                                <p>
                                    <span style="color: rgb(0, 0, 0);">
                                        <span style="font-family: &quot;apple SD gothic neo&quot;, &quot;Malgun Gothic&quot;, &quot;맑은 고딕&quot;, dotum, 돋움, sans-serif;">playground(놀이터)</span>에서는 여러분의 소통과 활동을 응원합니다.&nbsp;
                                    </span>
                                </p>
                                <p>
                                    <span style="line-height: 1.42857; color: rgb(0, 0, 0);">자신의 학교를 소개 또는 자랑하거나,&nbsp;</span>
                                    <span style="color: rgb(0, 0, 0);">자신의 학교의 문제점을 공유하거나&nbsp;</span>
                                    <span style="color: rgb(0, 0, 0);">교사분들이 올려주신 각 과목별 문제를&nbsp;</span>
                                    <span style="color: rgb(0, 0, 0); line-height: 1.42857;">풀어보실 수 있습니다.&nbsp;</span>
                                </p>
                                <p>
                                    <span style="color: rgb(0, 0, 0);"><br></span>
                                </p>
                                <p>회원 여러분의 활발한 활동을 기대하고 있습니다! <br><br>
                                    <span style="color: rgb(0, 0, 0);"></span>
                                </p>
                                <p>
                                    <span style="color: rgb(0, 0, 0);"><br></span>
                                </p>
                                <p><br></p>
                            </div>
                        </div>
                    </li>

                    <li class="item_info" data-id="1073184846">
                        <div class="info_tit">
                            <a class="link_cont" data-faq-url="/helps?articleId=1073184846&amp;service=72&amp;category=150&amp;device=&amp;locale=ko" data-id="1073184846" href="/helps?articleId=1073184846&amp;service=72&amp;category=150&amp;device=&amp;locale=ko" onclick="return false ;">
                                <span class="num_info">6</span>
                                <strong class="tit_info"> 자유 게시판에서는 무엇을 할 수 있나요? </strong>

                                <span class="btn_arr">
                                    <span class="ico_arr ico_cs" aria-hidden="true">
                                        내용 영역 열기
                                    </span>
                                </span>
                            </a>

                        </div>
                        <div class="info_cont">
                            <div class="content help_contents" id="1073184846">
                                <p>자신의 학교에 대해서 소개하거나.&nbsp;</p>
                                <p>자신의 학교를 자랑하거나&nbsp;</p>
                                <p><br></p>
                                <p>자신의 학교에 불만이 있는 것을 다른 학교의 회원들에게 알려 소통 할 수 있습니다.</p>

                            </div>
                        </div>
                    </li>
                    <li class="item_info" data-id="1073184836">
                        <div class="info_tit">
                            <a class="link_cont" data-faq-url="/helps?articleId=1073184836&amp;service=72&amp;category=150&amp;device=&amp;locale=ko" data-id="1073184836" href="/helps?articleId=1073184836&amp;service=72&amp;category=150&amp;device=&amp;locale=ko" onclick="return false ;">
                                <span class="num_info">7</span>
                                <strong class="tit_info"> 학교 별 게시판에서는 무엇을 할 수 있나요? </strong>

                                <span class="btn_arr">
                                    <span class="ico_arr ico_cs" aria-hidden="true">
                                        내용 영역 열기
                                    </span>
                                </span>
                            </a>

                        </div>
                        <div class="info_cont">
                            <div class="content help_contents" id="1073184836">
                                <p>자신의 학교에 다니는 회원들과 소통할 수 있어요.&nbsp;</p>
                                <p>평소에 친해지고 싶었던 회원들에게 말을 걸어보세요.&nbsp;</p>
                                <p>
                                    <span style="font-weight: bold;"><br>◆ 그로 인해</span>
                                </p>
                                <p>더 즐거운 학교 생활이 될 수 있어요.&nbsp;</p>
                                <p>또한 교사님께 하고 싶었던 말을 할 수도 있고.&nbsp;</p>
                                <p>교사님께 평소에 바빠서 말하지 못한 고민 상담도 할 수 있어요!&nbsp;</p>
                            </div>
                        </div>
                    </li>
                    <li class="item_info" data-id="1073186524">
                        <div class="info_tit">
                            <a class="link_cont" data-faq-url="/helps?articleId=1073186524&amp;service=72&amp;category=150&amp;device=&amp;locale=ko" data-id="1073186524" href="/helps?articleId=1073186524&amp;service=72&amp;category=150&amp;device=&amp;locale=ko" onclick="return false ;">
                                <span class="num_info">8</span>
                                <strong class="tit_info"> 각 학교 별 문제풀이 게시판은 무엇을 할 수 있나요? </strong>

                                <span class="btn_arr">
                                    <span class="ico_arr ico_cs" aria-hidden="true">
                                        내용 영역 열기
                                    </span>
                                </span>
                            </a>

                        </div>
                        <div class="info_cont">
                            <div class="content help_contents" id="1073186524">
                                <p>해당 게시판에서는 각 과목의 공통된 문제를 풀어볼 수 있습니다.&nbsp;</p>
                                <p>학교 별 유형을 겪어 더 많은 유형에 대비할 수 있어요.&nbsp;</p>
                                <p><br></p>
                                <p>문제를 풀다보면 모의고사나 수능에도 도움이 되겠죠??.&nbsp;</p>
                            </div>
                        </div>
                    </li>
                    <li class="item_info" data-id="1073184837">
                        <div class="info_tit">
                            <a class="link_cont" data-faq-url="/helps?articleId=1073184837&amp;service=72&amp;category=150&amp;device=&amp;locale=ko" data-id="1073184837" href="/helps?articleId=1073184837&amp;service=72&amp;category=150&amp;device=&amp;locale=ko" onclick="return false ;">
                                <span class="num_info">9</span>
                                <strong class="tit_info"> 내가 올린 댓글이 삭제 되었어요. </strong>

                                <span class="btn_arr">
                                    <span class="ico_arr ico_cs" aria-hidden="true">
                                        내용 영역 열기
                                    </span>
                                </span>
                            </a>

                        </div>
                        <div class="info_cont">
                            <div class="content help_contents" id="1073184837">
                                <p>playground(놀이터) 소통 서비스입니다.&nbsp;</p>
                                <p>여려분이 올리신 댓글이 재미있고 도움이 될 수도 있지만 누군가에겐 크나큰 상처가 될 수도 있다는 점을 유념해주세요.</p>
                                <p>
                                    <span style="line-height: 1.42857;">타인의 마음을 상하게 하는 비방, 욕설, 인신공격에 대해 특히 엄격하게 댓글을 관리하고 있습니다.&nbsp;</span>
                                    게시글 내용과 상관 없는 댓글에 대해서도 별도의 안내없이 삭제하고 있습니다.&nbsp;
                                </p>
                                <p><br></p>
                                <p>
                                    <a href="https://together.kakao.com/supports/policy/comments" target="_blank" title="새창열림">◆ 댓글 운영정책 보기</a>
                                </p>
                                <p><br></p>
                            </div>
                        </div>
                    </li>
                </ol>
<!--                페이지 이동 layer-->
                <div class="paging_comm">
                    <a class="btn_paging btn_fst" rel="prev" href="javascript:void(0);" aria-disabled="true">
                        <span class="ico_cs ico_arr">맨 첫 페이지로 이동</span>
                    </a>

                    <a class="btn_paging btn_prev" rel="prev" href="javascript:void(0);" aria-disabled="true">
                        <span class="ico_cs ico_arr">이전 페이지로 이동</span>
                    </a>

                    <em class="link_page" aria-disabled="true" tabindex="-1">
                        1 <span class="screen_out">현재 페이지</span>
                    </em>

                    <a class="link_page" href="/helps?service=72&amp;category=150&amp;locale=ko&amp;page=2">
                        2
                    </a>

                    <a class="link_page" href="/helps?service=72&amp;category=150&amp;locale=ko&amp;page=3">
                        3
                    </a>

                    <a class="link_page" href="/helps?service=72&amp;category=150&amp;locale=ko&amp;page=4">
                        4
                    </a>

                    <a class="link_page" href="/helps?service=72&amp;category=150&amp;locale=ko&amp;page=5">
                        5
                    </a>

                    <a class="btn_paging btn_next" rel="next" href="/helps?service=72&amp;category=150&amp;locale=ko&amp;page=2">
                        <span class="ico_cs ico_arr">다음 페이지로 이동</span>
                    </a>

                    <a class="btn_paging btn_lst" href="/helps?service=72&amp;category=150&amp;locale=ko&amp;page=5">
                        <span class="ico_cs ico_arr">마지막 페이지로 이동</span>
                    </a>
                </div>
<!--                문의하기 부분-->
                <div class="wrap_btn">
                    <h2 class="screen_out">문의하기</h2>
                    <span class="txt_solution"> 원하시는 답변을 찾지못하셨다면, 고객센터로 문의해 주세요. </span>
                    <div class="bundle_btn">
<!--                        1:1 상담 또는 이메일 문의하기-->
                        <a id="requestBtn" class="btn_cs" href="/requests?service=72&amp;locale=ko">
                            <span class="ico_cs ico_write">직접입력하여</span>
                            문의하기
<!--                            내일 관리자 페이지 아이콘 점검 및 간격이 흐트러 져서 맞춰주어야됨-->
<!--                            또한 js 적용도 해야하고, 세세한 반응형 layer 예를 들면 클릭 시 또다른 창이 나오는 부분-->
                        </a>
                    </div>
                </div>
            </article>
        </div>
    </div>
</main>
</body>
</html>