.main-ibx {
  width: 1080px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  padding: 2.5rem 1.25rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  position: relative;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: absolute;
  top: 3rem;
  width: 1040px;
}

.main-content {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  justify-content: initial;
  width: 100%;
  gap: 1.5rem;
  padding: 5.125rem 0 0 0;
}

.btn-submit {
  box-sizing: border-box;
  border-radius: 0.25rem;
  color: #ffffff;
  background-color: #0078FF;
  font-size: 1rem;
  line-height: 150%;
  box-shadow: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 0.08s ease-in-out,background-color 0.08s ease-in-out,border-color 0.08s ease-in-out,box-shadow 0.08s ease-in-out;
  width: auto;
  padding: 0.6875rem 1.1875rem;
  min-width: 6.25rem;
  font-weight: 700;
  flex-shrink: 0;
}

.btn-submit svg {
  width: unset;
  height: unset;
  margin: 0 0.25rem 0 0;
}

.main-content-community {
  width: 100%;
  margin-top: 20px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3,minmax(16.6875rem,1fr));
  grid-auto-flow: dense row;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

li {
  letter-spacing: -0.009em;
  line-height: 1.6;
  list-style: none;
}

.community-select-bx {
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: space-between;
  height: 100%;
  min-height: 15.75rem;
  background-color: #FFFBE3;
  border-radius: 0.5rem;
  gap: 0.5rem;
  padding: 1.125rem;
  border: 1px solid #FFFBE3;
}

.community-select-bx h4 {
  font-family: 'Inter','Noto Sans KR',sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  color: #FF9E2D;
  margin-bottom: 0.25rem;
}

.community-select-bx h2 {
  color: #000000;
  font-family: 'Inter','Noto Sans KR',sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 140%;
  opacity: 1;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  min-height: 2.5rem;
  word-break: keep-all;
}

.community-select-bx h3 {
  color: #777777;
  font-family: 'Inter','Noto Sans KR',sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 140%;
  opacity: 1;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  min-height: 2.5rem;
  word-break: keep-all;
}

.user-info-bx {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

.user-info-bx img {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
  object-fit: contain;
  flex-shrink: 0;
}

.user-info-bx >p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.125rem;
  width: calc(100% - 2.25rem);
}

.user-name-bx {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #000000;
  font-family: 'Inter','Noto Sans KR',sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 120%;
  opacity: 1;
  width: 100%;
}

.user-upload-date {
  color: #777777;
  font-family: 'Inter','Noto Sans KR',sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 120%;
  opacity: 1;
}

.view-point {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}

.view-point li {
  display: flex;
  justify-content: flex-start;
  color: #263747;
  font-family: 'Inter','Noto Sans KR',sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 120%;
  opacity: 1;
  align-items: center;
  gap: 0.25rem;
}