@font-face {
    font-family: KakaoBig Bold;
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/KakaoBigBold.woff2') format("woff2"),
    url("../../fonts/KakaoBigBold.woff") format("woff")
}

@font-face {
    font-family: KakaoBig Regular;
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/KakaoBigRegular.woff2') format("woff2"),
    url('../../fonts/KakaoBigRegular.woff') format("woff")
}

@font-face {
    font-family: grandma_kja;
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/Together-KwonJungae.otf') format("opentype"),
    url('../../fonts/Together-KwonJungae.woff') format("woff")
}

body, html {
    min-width: 1140px;
    margin: 0;
    padding: 0;
}

body, button, input, select, td, textarea, th {
    font-size: 14px;
    line-height: 1.5;
    font-family: KakaoBig Regular,Malgun Gothic,맑은 고딕,Apple SD Gothic Neo,dotum,돋움,sans-serif;
    color: #444;
}

body {
    background: #fff;
}

#dkIndex {
    overflow: hidden;
    position: absolute;
    left: -9999px;
    width: 0;
    height: 1px;
    margin: 0;
    padding: 0;
}

a, a:active, a:hover {
    text-decoration: none;
}

a {
    color: #444;
    cursor: pointer;
}

#dkWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-height: 100vh;
}

blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, select, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

#dkHead {
    top: 0;
}

#dkHead {
    position: relative;
    left: 0;
    right: 0;
    z-index: 99999;
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    background-color: #fff;
}

#dkHead::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #eee;
}

.d_head, .d_head h1 {
    height: 100%;
}

.d_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 1120px;
    margin: 0 auto;
    text-align: center;
}

.d_head .link_service {
    display: block;
    width: 115px;
    height: 100%;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    background: url(//t1.kakaocdn.net/together_image/svg/logo_pc.svg) 50%/contain no-repeat;
}

.d_navigation .gnb_together {
    margin-left: 0;
}

.gnb_together, .gnb_together .link_gnb {
    align-items: center;
    justify-content: center;
    position: relative;
}

.gnb_together {
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    flex: 1 0 auto;
    height: 100%;
}
.screen_out {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}

.gnb_together .link_gnb {
    display: inline-flex;
    height: auto;
    border-bottom: 2px solid #0000;
    margin: 0 11px;
    padding: 22px 14px;
    font-size: 16px;
    font-family: KakaoBig Bold,sans-serif;
    color: #444;
}

.gnb_together .link_gnb .txt_gnb {
    position: relative;
}

.d_navigation .wrap_util {
    justify-content: normal;
    min-width: auto;
}

.d_head .wrap_util {
    position: relative;
    display: flex;
    align-items: center;
}

.d_navigation .wrap_util .btn_profile {
    margin: 0;
}

.d_head .wrap_util .btn_profile {
    position: relative;
    display: flex;
}

button {
    border: 0;
    border-radius: 0;
    background-color: initial;
    cursor: pointer;
}

button, input, select, textarea {
    vertical-align: middle;
}

.d_navigation .wrap_util .box_avatar_squircle {
    width: 24px;
    height: 24px;
}

.box_avatar_squircle {
    display: block;
    position: relative;
}

.d_head .wrap_util .thumb_profile {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.box_avatar_squircle .thumb_profile {
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: top;
}

fieldset, img {
    border: 0;
}

.box_avatar_squircle::after {
    content: "";
    position: absolute;
    top: -.49%;
    bottom: -.49%;
    left: -.49%;
    right: -.49%;
    background-image: url(//t1.kakaocdn.net/together_image/common/bg_mask.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 0;
}

.d_navigation .wrap_util .btn_search {
    padding: 8px;
    margin: 0 11px 0 19px;
}

.d_head .wrap_util .btn_search {
    height: auto;
}

.d_head .wrap_util .ico_search {
    width: 22px;
    height: 22px;
    background: url(//t1.kakaocdn.net/together_image/svg/ico_search.svg) 50%/contain no-repeat;
}

.ico_together, .ico_together2 {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

.d_navigation .btn_side {
    display: flex;
    position: relative;
    padding: 8px;
    border: 1px solid #0000;
    box-sizing: border-box;
}

.d_navigation .btn_side .ico_menu {
    display: block;
    width: 18px;
    height: 18px;
    margin: 0;
    background-image: url(//t1.kakaocdn.net/together_image/svg/ico_menu.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.ico_together {
    background: url(//t1.kakaocdn.net/together_image/common/ico_together_201008.png) no-repeat 0 0;
}

.sideouter_layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: .3;
}

[hidden] {
    display: none!important;
}

.side_together {
    overflow-y: auto;
    display: none;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    width: 300px;
    height: 100%;
    padding: 30px;
    border: 0;
}

.menu_side {
    background-color: #fff;
}

.side_together .wrap_my {
    display: block;
}

.side_together .wrap_my .btn_profile {
    display: flex;
    align-items: center;
}

.side_together .btn_profile {
    justify-content: flex-start;
    width: 100%;
    height: auto;
    margin: 0 0 20px;
}

.side_together .wrap_my .box_avatar_squircle {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.side_together .wrap_my .user_id {
    overflow: hidden;
    padding-left: 12px;
    color: #202020;
    font-family: KakaoBig Bold;
    font-size: 16px;
    line-height: 1.56;
    letter-spacing: -.1px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.side_together .my_util {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #00000008;
    border-radius: 6px;
    background-color: #f9f9f9;
}

dl, li, menu, ol, ul {
    list-style: none;
}

.side_together .my_util li {
    width: 50%;
    flex-grow: 1;
    flex-shrink: 0;
}

.side_together .my_util .link_util {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 4px;
    gap: 4px;
    padding: 12px;
    color: #444;
    font-family: KakaoBig Bold;
    font-size: 13px;
    cursor: pointer;
}

.side_together .my_util .ico_my {
    background-image: url(//t1.kakaocdn.net/together_image/svg/ico_side_my.svg);
}

.side_together .my_util .ico_svg {
    display: inline-flex;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}

.side_together .my_util .ico_alert {
    background-image: url(//t1.kakaocdn.net/together_image/svg/ico_side_notice.svg);
}

.side_together .list_sidemenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 8px;
    gap: 8px;
    margin-top: 28px;
    border: 0;
}

.menu_side .list_sidemenu {
    position: relative;
    background: #fff;
}

.menu_side li:first-child .link_sidemenu {
    border-top: 0;
}

.side_together .list_sidemenu .link_sidemenu {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    margin: 0;
    padding: 6px 0;
    border: 0;
    color: #202020;
    font-family: KakaoBig Bold;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: -.1px;
}

.side_together .link_sidemenu .ico_notice {
    background-image: url(//t1.kakaocdn.net/together_image/svg/ico_side_fundraising.svg);
}


.side_together .link_sidemenu .ico_svg {
    display: inline-flex;
    width: 20px;
    height: 20px;
    margin-right: 13px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
}

.side_together .link_sidemenu .ico_subject {
    background-image: url(//t1.kakaocdn.net/together_image/svg/ico_side_action.svg);
}

.side_together .link_sidemenu .ico_board {
    background-image: url(//t1.kakaocdn.net/together_image/svg/ico_side_weather.svg);
}

.side_together .list_sidesub {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 0;
    margin: 0 -18px;
}

.ngdialog-content {
    overflow: hidden;
    z-index: 999999;
    left: 50%;
}

.inner_together_layer2 {
    width: 392px;
}

.inner_together_layer {
    background-color: #fff;
}

.inner_together_layer .desc_together {
    display: table;
    width: 100%;
    height: 128px;
    padding-top: 30px;
    text-align: center;
    color: #444;
    font-size: 16px;
}

.inner_together_layer .desc_together .txt_desc {
    display: table-cell;
    padding: 20px 25px;
    vertical-align: middle;
    line-height: 28px;
    word-break: break-all;
}

.inner_together_layer2 .wrap_btn_type {
    overflow: hidden;
}

.inner_together_layer .wrap_btn_type {
    margin: 0 30px;
}

.inner_together_layer .wrap_btn {
    padding-bottom: 30px;
    text-align: center;
}

.inner_together_layer .wrap_btn_type .btn_set:last-child {
    width: 100%;
    margin-bottom: 0;
}

.inner_together_layer2 .wrap_btn .btn_set {
    text-align: center;
}

.inner_together_layer .wrap_btn_type .btn_set {
    margin: 0 0 12px;
}

.inner_together_layer .wrap_btn .btn_type3 {
    border: 1px solid #bababa;
    color: #434343;
    line-height: 46px;
    background-color: #f2f2f2;
}

.inner_together_layer .wrap_btn .btn_set {
    position: relative;
    display: inline-block;
    height: 48px;
    vertical-align: top;
    font-size: 16px;
}

.inner_together_layer .layer_foot {
    position: absolute;
    top: 0;
    right: 0;
}

.inner_together_layer .layer_foot .btn_close {
    display: block;
    overflow: hidden;
}

.inner_together_layer .layer_foot .ico_together {
    width: 17px;
    height: 17px;
    margin: 22px;
    background-position: -184px 0;
}

#dkContent, #rootContent {
    flex-grow: 1;
    min-height: calc(100vh - (70px + 250px));
}

#dkContent {
    position: relative;
    margin: 0 0 -212px;
}

#mArticle {
    padding: 0 0 250px;
}

.wrap_tab {
    position: relative;
    width: 100%;
    height: 60px;
    border-bottom: 6px solid #eee;
    background-color: #fff;
    box-sizing: border-box;
}

.wrap_tab .list_tab {
    display: flex;
    justify-content: center;
    height: 100%;
}

.wrap_tab .on .link_tab {
    position: relative;
    z-index: 1;
    color: #202020;
}

.wrap_tab .list_tab .link_tab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 28px;
    font-size: 14px;
    color: #888;
    font-family: KakaoBig Bold;
}

.wrap_tab .list_tab .txt_tab {
    display: inline-flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

.wrap_tab .list_tab li+li {
    position: relative;
}

.wrap_tab .list_tab li+li::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 12px;
    margin-top: -6px;
    background-color: #e5e5e5;
}

address, caption, cite, code, dfn, em, strong, var {
    font-style: normal;
}


.ir_pm, .ir_wa {
    display: block;
    overflow: hidden;
}

.ir_pm {
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

.hide {
    display: none;
}

#dkFoot {
    position: relative;
}

.d_footer {
    height: 180px;
    padding: 40px 0 45px;
    border-top: 1px solid #eee;
    background-color: #f7f7f7;
    box-sizing: border-box;
}

.d_footer .inner_footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1120px;
    height: 100%;
    margin: 0 auto;
}

.d_footer .link_home {
    display: block;
    flex-shrink: 0;
    width: 115px;
    height: 18px;
    background: url(//t1.kakaocdn.net/together_image/svg/footer_logo_black.svg) no-repeat 50%/contain;
}

.d_footer .desc_footer {
    padding: 16px 0 18px;
    color: #666;
    font-size: 14px;
    font-style: normal;
    font-family: KakaoBig Regular;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    line-height: 1.57;
    letter-spacing: -.1px;
}

.d_footer .area_info, .d_footer .list_menu, .d_footer .list_menu li {
    display: flex;
    align-items: center;
}

.d_footer .area_info {
    flex-direction: row;
    justify-content: space-between;
    grid-gap: 16px;
    gap: 16px;
    width: 100%;
}

.d_footer .list_menu li {
    position: relative;
    font-size: 13px;
    line-height: 1.54;
    letter-spacing: -.1px;
}

.d_footer .link_menu {
    display: inline-block;
    vertical-align: top;
    padding: 6px 0;
    color: #444;
    font-size: 14px;
    font-style: normal;
    font-family: KakaoBig Regular;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    line-height: 1.57;
    letter-spacing: -.1px;
    text-decoration: none;
}

.d_footer .list_menu li::after {
    content: "";
    display: block;
    width: 2px;
    height: 2px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 100%;
    background-color: #444;
}

.d_footer .list_sns {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    gap: 10px;
}

.d_footer .list_sns li {
    display: list-item;
    position: relative;
    font-size: 13px;
    line-height: 1.54;
    letter-spacing: -.1px;
}

.d_footer .list_sns .link_sns {
    display: inline-block;
    width: 30px;
    padding: 6px 0;
    text-align: center;
    color: #444;
    font-size: 14px;
    font-style: normal;
    font-family: KakaoBig Regular;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    line-height: 1.57;
    letter-spacing: -.1px;
}

.d_footer .list_sns .ico_kakaotalk {
    background-image: url(//t1.kakaocdn.net/together_image/svg/footer_kakaotalk_gray80.svg);
}

.d_footer .list_sns .ico_svg {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
}

.d_footer .list_sns .ico_facebook {
    background-image: url(//t1.kakaocdn.net/together_image/svg/footer_facebook_gray80.svg);
}

.d_footer .list_sns .ico_instargram {
    background-image: url(//t1.kakaocdn.net/together_image/svg/footer_instagram_gray80.svg);
}

.wrap_tab .on .link_tab {
    position: relative;
    z-index: 1;
    color: #202020;
}
/*상세페이지 css 시작*/
.view_head {
    display: table;
    width: 700px;
    margin: 0 auto;
    padding: 31px 0 25px;
}

.view_head .tit_official {
    padding-top: 11px;
}

.link_official .tit_official, .view_head .tit_official {
    display: block;
    color: #666;
    font-size: 14px;
    line-height: 20px;
}

.view_head .subject_official {
    padding-top: 7px;
}

.link_official .subject_official, .view_head .subject_official {
    display: block;
    font-weight: 400;
    font-family: KakaoBig Bold;
    font-size: 20px;
    line-height: 31px;
}


address, caption, cite, code, dfn, em, strong, var {
    font-style: normal;
    font-weight: 400;
}

.view_head .date_official {
    padding-top: 3px;
}

.link_official .date_official, .view_head .date_official {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    vertical-align: top;
}

.wrap_view .view_body {
    padding-top: 44px;
}

.view_body {
    overflow: hidden;
    width: 700px;
    margin: 0 auto;
    border-top: 1px solid #e5e5e5;
}

.view_body p:first-child {
    margin-top: 3px;
}

.wrap_view .view_foot {
    width: 700px;
    margin: 52px auto 10px;
}

.view_foot .name_writer {
    position: relative;
    display: block;
    padding-top: 27px;
    font-weight: 400;
    line-height: 25px;
}

.notice_view .cont_plusfriend {
    padding-top: 60px;
}

.cont_plusfriend {
    padding: 23px 0;
}

.notice_view .cont_plusfriend .info_plusfriend {
    font-size: 13px;
    line-height: 20px;
}

.cont_plusfriend .info_plusfriend {
    display: inline-block;
    padding-top: 1px;
    color: #999;
    text-align: left;
    white-space: pre-line;
    vertical-align: top;
}