.h-full {
    height: 100%;
}

body {
    margin: 0;
    line-height: inherit;
}

*, ::after, ::before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

html {
    tab-size: 4;
    font-family: Pretendard,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

#_next {
    min-height: 100%;
}

.flex-col {
    flex-direction: column;
}

.h-screen {
    height: 100vh;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.shrink-0 {
    flex-shrink: 0;
}

.w-full {
    width: 100%;
}

.w-\[20px\] {
    width: 20px;
}

.w-\[24px\] {
    width: 24px;
}

.w-\[33px\] {
    width: 33px;
}

.w-\[37px\] {
    width: 37px;
}

.w-\[40px\] {
    width: 40px;
}

.w-\[42px\] {
    width: 42px;
}

.w-\[44px\] {
    width: 44px;
}

.w-\[45px\] {
    width: 45px;
}

.w-\[53px\] {
    width: 53px;
}

.w-\[61px\] {
    width: 61px;
}

.w-\[69px\] {
    width: 69px;
}

.w-\[72px\] {
    width: 72px;
}

.w-\[74px\] {
    width: 74px;
}

.w-\[75px\] {
    width: 75px;
}

.w-\[77px\] {
    width: 77px;
}

.w-\[78px\] {
    width: 78px;
}

.w-\[79px\] {
    width: 79px;
}

.w-\[80px\] {
    width: 80px;
}

.w-\[83px\] {
    width: 83px;
}

.w-\[85px\] {
    width: 85px;
}

.w-\[86px\] {
    width: 86px;
}

.w-\[95px\] {
    width: 95px;
}

.w-\[100px\] {
    width: 100px;
}

.w-\[108px\] {
    width: 108px;
}

.w-\[115px\] {
    width: 117px;
}

.w-\[117px\] {
    width: 117px;
}

.w-\[119px\] {
    width: 119px;
}

.w-\[129px\] {
    width: 129px;
}

.w-\[151px\] {
    width: 151px;
}

.w-\[234px\] {
    width: 234px;
}

.w-\[348px\] {
    width: 348px;
}

.w-\[400px\] {
    width: 400px;
}

.w-\[422px\] {
    width: 422px;
}

.w-\[427px\] {
    width: 427px;
}

.z-10 {
    z-index: 10;
}

.z-20 {
    z-index: 20;
}

.left-0 {
    left: 0;
}

.top-0 {
    top: 0;
}

.surface_primary {
    background-color: #fff;
}

.surface_primary_inverse {
    background-color: #1d1d1e;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.w-\[31px\] {
    width: 31px;
}

.w-\[32px\] {
    width: 32px;
}

.w-\[96px\] {
    width: 96px;
}

.h-\[10px\] {
    height: 10px;
}

.h-\[18px\] {
    height: 18px;
}

.h-\[20px\] {
    height: 20px;
}

.h-\[24px\] {
    height: 24px;
}

.h-\[32px\] {
    height: 32px;
}

.h-\[40px\] {
    height: 40px;
}

.content_primary_inverse {
    color: #fff;
    fill: #fff;
}

.content_accent {
    color: #5b44ea;
    fill: #5b44ea;
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}

.mx-\[10px\] {
    margin-left: 10px;
    margin-right: 10px;
}

.font_body_regular_md {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.font_body_regular_lg {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.font_headline_bold_lg {
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
}

.font_label_bold_xl {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
}

.font_button_bold_md {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

.justify-end {
    justify-content: flex-end;
}

.relative {
    position: relative;
}

.rounded-full {
    border-radius: 9999px;
}

.surface_primary_active {
    background-color: #e6e6e7;
}

[role=button], button {
    cursor: pointer;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

button, select {
    text-transform: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

.overflow-hidden {
    overflow: hidden;
}

.border {
    border-width: 1px;
}

.basis-\[260px\] {
    flex-basis: 260px;
}

.border_primary {
    border-color: #e6e6e7;
}

.surface_secondary {
    background-color: #fafafb;
}

.pb-\[28px\] {
    padding-bottom: 28px;
}

.pt-\[40px\] {
    padding-top: 40px;
}

.border-y {
    border-top-width: 1px;
}

.border-b, .border-y {
    border-bottom-width: 1px;
}

.border_black_opacity {
    border-color: rgba(0,0,0,.1);
}

.mx-\[32px\] {
    margin-left: 32px;
    margin-right: 32px;
}

.border_disabled {
    border-color: rgba(0,0,0,.06);
}

.border-solid {
    border-style: solid;
}

.mb-\[8px\] {
    margin-bottom: 8px;
}

.mb-\[12px\] {
    margin-bottom: 12px;
}

.mb-\[24px\] {
    margin-bottom: 24px;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

[role=button], button {
    cursor: pointer;
}

button, select {
    text-transform: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

.font_title_bold_md {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.content_primary {
    color: #1d1d1e;
    fill: #1d1d1e;
}

.content_quaternary {
    color: #8a8a8b;
    fill: #8a8a8b;
}

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}

.py-\[8px\] {
    padding-top: 8px;
    padding-bottom: 8px;
}

.py-\[9px\] {
    padding-top: 9px;
    padding-bottom: 9px;
}

.py-\[10px\] {
    padding-top: 10px;
    padding-bottom: 10px;
}

.py-\[32px\] {
    padding-top: 32px;
    padding-bottom: 32px;
}

.px-\[8px\] {
    padding-left: 8px;
    padding-right: 8px;
}

.px-\[12px\] {
    padding-left: 12px;
    padding-right: 12px;
}

.px-\[15px\] {
    padding-left: 15px;
    padding-right: 15px;
}

.px-\[16px\] {
    padding-left: 16px;
    padding-right: 16px;
}

.px-\[20px\] {
    padding-left: 20px;
    padding-right: 20px;
}

.px-\[24px\] {
    padding-left: 24px;
    padding-right: 24px;
}

menu, ol, ul {
    list-style: none;
    margin: 0;
}

.rounded-\[8px\] {
    border-radius: 8px;
}

.rounded-\[16px\] {
    border-radius: 16px;
}

.rounded-\[20px\] {
    border-radius: 20px;
}

.surface_accent {
    background-color: #7e69fe;
}

.surface_accent_light {
    background-color: #f2f0fc;
}

.flex-grow, .grow {
    flex-grow: 1;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.mr-\[8px\] {
    margin-right: 8px;
}

.mr-\[10px\] {
    margin-right: 10px;
}

.mr-\[12px\] {
    margin-right: 12px;
}

.content_accent {
    color: #5b44ea;
    fill: #5b44ea;
}

.content_accent_active {
    color: #7e69fe;
    fill: #7e69fe;
}

.content-none {
    content: var(--tw-content);
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}

.block {
    display: block;
}

.font_label_bold_xl {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
}

.font_label_medium_lg {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.font_label_medium_md {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
}

.content_primary {
    color: #1d1d1e;
    fill: #1d1d1e;
}

.overflow-x-auto {
    overflow-x: auto;
}

.basis-0 {
    flex-basis: 0px;
}

.shrink-0 {
    flex-shrink: 0;
}

.pb-\[64px\] {
    padding-bottom: 64px;
}

.gap-y-0 {
    row-gap: 0;
}

.gap-x-\[12px\] {
    column-gap: 12px;
}

.gap-x-\[16px\] {
    column-gap: 16px;
}

.gap-x-\[24px\] {
    column-gap: 24px;
}

.grid-cols-12 {
    grid-template-columns: repeat(12,minmax(0,1fr));
}

.w-desktop-grid {
    width: 944px;
}

.grid {
    display: grid;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.col-span-full {
    grid-column: 1/-1;
}

.sticky {
    position: sticky;
}

.w-\[6px\] {
    width: 6px;
}

.w-\[10px\] {
    width: 10px;
}

.w-\[20px\] {
    width: 20px;
}

.w-\[240px\] {
    width: 240px;
}

.w-\[248px\] {
    width: 248px;
}

.border_black_opacity {
    border-color: rgba(0,0,0,.1);
}

.content-none {
    --tw-content: none;
    content: var(--tw-content);
}

.outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.ml-\[4px\] {
    margin-left: 4px;
}

.ml-\[10px\] {
    margin-left: 10px;
}

.ml-\[-26px\] {
    margin-left: -26px;
}

.mt-\[4px\] {
    margin-top: 4px;
}

.mt-\[20px\] {
    margin-top: 20px;
}

.mt-\[23px\] {
    margin-top: 23px;
}

.mt-\[24px\] {
    margin-top: 24px;
}

.mt-\[32px\] {
    margin-top: 32px;
}

.mt-\[100px\] {
    margin-top: 100px;
}

.shrink-0 {
    flex-shrink: 0;
}

.max-w-\[164px\] {
    max-width: 164px;
}

.whitespace-nowrap {
    white-space: nowrap;
}

.text-ellipsis, .truncate {
    text-overflow: ellipsis;
}

.disabled\:border-solid:disabled {
    border-style: solid;
}

.disabled\:border:disabled {
    border-width: 1px;
}

.disabled\:border_black_opacity:disabled {
    border-color: rgba(0,0,0,.1);
}

.disabled\:content_disabled:disabled {
    color: #b9b9bb;
    fill: #b9b9bb;
}

.disabled\:surface_primary:disabled {
    background-color: #fff;
}

:disabled {
    cursor: default;
}

.min-w-\[76px\] {
    min-width: 76px;
}

.pr-\[10px\] {
    padding-right: 10px;
}

.border-r {
    border-right-width: 1px;
}

.text-right {
    text-align: right;
}

.more-select-bx-status {
    position: absolute;
    width: 100%;
    display: none;
}

.more-btn {
    width: 47.6px;
}

.status-select-bx-1 {
    border-radius: 16px 16px 0 0;
    background-color: #fff;
    width: 100%;
}

.por .poa {
    white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 함 */
    left: 17%;
    font-size: 12px;
}

.relative .poa2 {
    white-space: nowrap; /* 텍스트가 줄 바꿈되지 않도록 함 */
    left: 28%;
    font-size: 12px;
}

.status-select-bx-2 {
    border-radius: 0 0 16px 16px;
    background-color: #fff;
    width: 100%;
}

.por {
    position: relative;
}

.poa {
    position: absolute;
}