<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>놀이터</title>
    <link rel="stylesheet" href="footer.css">
    <style>
        @font-face {
            font-family: 'KakaoBig Bold';
            src: url(PMS/font/KakaoBigBold.woff2);
        }

        @font-face {
            font-family: 'KakaoBig Regular';
            src: url(PMS/font/KakaoBigRegular.woff2);
        }
    </style>
</head>
<body>
<div id="page-container">
    <div id="dkIndex">
        <a href="">본문 바로가기</a>
        <a href="">메뉴 바로가기</a>
    </div>
    <div id="dkWrap">
        <!--푸터 시작-->
        <together-footer>
            <div id="dkFoot">
                <div class="wrap_channel_banner">
                    <div class="inner_wrap">
                        <div class="cont_banner">
                            <strong class="tit_banner">같이하면 더 가치있는 일, 카카오톡으로 받아보세요.</strong>
                            <p class="desc_banner">같이가치 채널의 마케팅과 광고 메시지를 받아볼 수 있습니다.</p>
                        </div>
                        <button class="btn_talk">
                            <i class="ico_channel"></i> 카카오톡으로 소식받기
                        </button>
                    </div>
                </div>
                <div class="d_footer">
                    <div class="inner_footer">
                        <a href="/static" class="link_home">
                            <h1>놀이터</h1>
                        </a>
                        <p class="desc_footer">놀이터는 카카오와 카카오임팩트가 함께합니다.</p>
                        <div class="area_info">
                            <ul class="list_menu">
                                <li class="menu_corp">
                                    <a href="" target="_blank" class="link_menu link_corp">© Playground Corp.</a>
                                </li>
                                <li>
                                    <a href="" target="_blank" class="link_menu">고객센터</a>
                                </li>
                                <li>
                                    <a href="" target="_blank" class="link_menu">문의하기</a>
                                </li>
                                <li>
                                    <a href="" target="_blank" class="link_menu">이용약관</a>
                                </li>
                                <li>
                                    <a href="" target="_blank" class="link_menu link_policy">개인정보처리방침</a>
                                </li>
                            </ul>
                            <ul class="list_sns">
                                <li>
                                    <a href="" target="_blank" class="link_sns #together_yellow">
                                        <span class="ico_svg ico_kakaotalk ir_pm">카카오톡</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="" target="_blank" class="link_sns">
                                        <span class="ico_svg ico_facebook ir_pm">페이스북 공유하기</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="" target="_blank" class="link_sns">
                                        <span class="ico_svg ico_instargram ir_pm">인스타그램 공유하기</span>
                                    </a>
                                </li>
                            </ul>
                            <a href="" target="_blank" class="link_menu">
                                <small class="txt_corp">© Playground Corp.</small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </together-footer>
        <!--푸터 끝-->
    </div>
</div>
</body>
</html>