<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IDFINDSUCCESS</title>
    <link rel="stylesheet" href="./idFindSuccess.css">
</head>
<body>
<div id="wrap">
    <div class="div1">
        <div class="div1_1">
            <div class="div1_2">
                <h3>놀이터</h3>
            </div>
        </div>
        <div class="div1_2"></div>
    </div>
    <div class="div2">
        <div class="div2_1">
            <p>김철수님의 아이디는 <b>flwo12**</b> 입니다.</p>
            <div class="div2_2">
                <button class="b1">로그인하러 이동</button>
                <button class="b2" style="margin-left: 10px;">다른 번호로 찾기</button>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    const b1 = document.querySelector('.b1');
    const b2 = document.querySelector('.b2');
    b1.addEventListener("mouseover", (e) => {
        e.target.style.backgroundColor = '#d2d2d2';
    })
    b1.addEventListener("mouseout", (e) => {
        e.target.style.backgroundColor = '#fff';
    })

    b2.addEventListener("mouseover", (e) => {
        e.target.style.backgroundColor = '#d2d2d2';
    })
    b2.addEventListener("mouseout", (e) => {
        e.target.style.backgroundColor = '#fff';
    })
</script>
</html>