@font-face {
    font-family: NotoSans;
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/NotoSansKR-Bold.woff') format("woff"),
    url("./fonts/NotoSansKR-Bold.woff") format("woff")
}

@font-face {
    font-family: NotoSans;
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/NotoSansKR-Regular.woff') format("woff"),
    url('./fonts/NotoSansKR-Regular.woff') format("woff")
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Roboto-Regular.woff') format("woff"),
    url('./fonts/Roboto-Regular.woff') format("woff")
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

label {
    /*display: inline-block;*/
    margin-bottom: .5rem;
}

button[color=primary] {

}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

* {
    padding: 0;
    margin: 0;
    font-style: normal;
    background-repeat: no-repeat;
}
label {
    cursor: default;
}

/*.main1_article1 .div1 .div2 .form1 .d3 .d3_1 label .span2.yellow{*/
/*    margin: 0 8px 0 0;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    display: inline-block;*/
/*    overflow: hidden;*/
/*    font-size: 1px;*/
/*    line-height: 0;*/
/*    color: transparent;*/
/*    vertical-align: top;*/
/*    background: url(카카오img.png) 0 0 no-repeat;*/
/*    background-size: 300px auto;*/
/*}*/

/*.main1_article1 .div1 .div2 .form1 .d3 .d3_1 label .span2.show{*/
/*    visibility: visible;*/
/*}*/

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
button, input {
    overflow: visible;
}


body, html {
    height: 100%;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    /*font-size: inherit;*/
    line-height: inherit;
}
body, button, input, select, td, textarea, th {
    font-size: 12px;
    line-height: 1.5;
    font-family: -apple-system,Roboto,NotoSans,AppleSDGothicNeo,Malgun Gothic,맑은 고딕,돋움,dotum,sans-serif;
    color: #333;
}

body {
    background: #fff;
    -webkit-text-size-adjust: none;
}

blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, select, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}


* {
    margin: 0;
    padding: 0;
}

dl, li, menu, ol, ul {
    list-style: none;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;

    appearance: auto;
    text-rendering: auto;
    /*color: buttontext;*/
    letter-spacing: normal;
    word-spacing: normal;
    /*line-height: normal;*/
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    /*cursor: default;*/
    box-sizing: border-box;
    /*background-color: buttonface;*/
    writing-mode: horizontal-tb !important;
    /*margin: 0em;*/
    padding-block: 1px;
    padding-inline: 6px;
    /*border-width: 2px;*/
    /*border-style: outset;*/
    /*border-color: buttonborder;*/
    /*border-image: initial;*/
}


label {
    cursor: default;
}

input {
    /*font-style: ;*/
    /*font-variant-ligatures: ;*/
    /*font-variant-caps: ;*/
    /*font-variant-numeric: ;*/
    /*font-variant-east-asian: ;*/
    /*font-variant-alternates: ;*/
    /*font-weight: ;*/
    /*font-stretch: ;*/
    /*font-size: ;*/
    /*font-family: ;*/
    /*font-optical-sizing: ;*/
    /*font-kerning: ;*/
    /*font-feature-settings: ;*/
    /*font-variation-settings: ;*/
    text-rendering: auto;
    /*color: fieldtext;*/
    /*letter-spacing: normal;*/
    word-spacing: normal;
    /*line-height: normal;*/
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    /*appearance: auto;*/
    -webkit-rtl-ordering: logical;
    cursor: text;
    /*background-color: field;*/
    /*margin: 0em;*/
    /*padding: 1px 2px;*/
    /*border-width: 2px;*/
    /*border-style: inset;*/
    /*border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));*/
    /*border-image: initial;*/
}

button, input, select, textarea {
    vertical-align: middle;
    /*font-size: 100%;*/
}

input:not([type="range"]):not([type="color"]):not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="file"]) {
    writing-mode: horizontal-tb !important;
}

input[type="password" i] {
    -webkit-text-security: disc !important;
    padding: 1px 2px;
}


h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
label {
    cursor: default;
}


#wrap{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#wrap .div1{
    height: 100%;
    font-size: 0;
    margin: 0;
    padding: 0;
}

#wrap .div1 .div2{
    display: inline-block;
    overflow-x: hidden;
    width: 100%;
    font-size: 12px;
    vertical-align: middle;

}
#wrap .div1 .div2 .main1{
    display: block;

}
#wrap .div1 .div2 .main1 .main1_div1{
    width: 350px;
    padding: 0 10px;
    margin: 0 auto;
}
#wrap .div1 .div2 .main1 .main1_div1 .h3{
    font-size: 25px;
    font-weight: 600;
    position: relative;
    margin-top: 0;

    text-align: center;
}



#wrap .div1 .div2 .main1 .main1_div1 .h1 .span1 .span2{
    position: relative;
    z-index: 3;
    /*width: 100%;*/
    /*height: 100%;*/
    display: block;
    overflow: hidden;

    /*width: 88px;*/
    /*height: 27px;*/
    /*width: 150%;*/
    /*height: 50px;*/

    font-size: 25px;
    line-height: 27px;
    text-align: center;
}

.main1_article1{
    width: 580px;
    height: 100%;
    /*height: 491px;*/
    margin: 40px auto 42px;
    padding: 0 69px;
    border: 1px solid rgba(0,0,0,.12);
    font-size: 12px;
    box-sizing: border-box;
}
.main1_article1 .div1{
    word-wrap: break-word;
    position: relative;
    height: 100%;
    padding: 55px 0 50px;
    box-sizing: border-box;
    display: block;

}

.main1_article1 .div1 .name{
    margin-top: 24px;
    padding: 0;
    margin: 0;
    font-style: normal;
}
.main1_article1 .div1 .name label{
    display: inline-block;
    font-size: 13px;
    margin: 2px 0;
    padding: 0;
    /*margin: 0;*/
    font-style: normal;
}
.main1_article1 .div1 .name label span{
    padding: 0;
    margin: 0;
    font-style: normal;
    box-sizing: border-box;
}
.main1_article1 .div1 .name .name_div1{
    width: 100%;
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    font-style: normal;
}
.main1_article1 .div1 .name .name_div1 input{
    width: 100%;
    height: 48px;
    background-color: #fbfbfb;
    border: 1px solid #ddd;
    /*-webkit-transition: all .25s;*/
    transition: all .25s;
    outline: none;
    padding: 0 16px;
    font-size: 14px;
    overflow: visible;
    margin: 0;
    font-family: inherit;
    /*font-size: inherit;*/
    line-height: inherit;
    border-radius: 0;
}



.main1_article1 .div1 .phone{
    margin-top: 24px;
}
.main1_article1 .div1 .phone label{
    display: inline-block;
    font-size: 13px;
    margin: 2px 0;
}
.main1_article1 .div1 .phone label span{

}

.main1_article1 .div1 .phone .phone_div1{
    display: flex;
    -webkit-box-align: center;
    /*-ms-flex-align: center;*/
    align-items: center;
}

.main1_article1 .div1 .phone .phone_div1 .phone_div2{
    position: relative;
}

.main1_article1 .div1 .phone .phone_div1 .phone_div2 .phone_div3{
    width: 246px;
    display: inline-block;
}

.main1_article1 .div1 .phone .phone_div1 .phone_div2 .phone_div3 input{
    width: 100%;
    background-color: #fbfbfb;
    height: 48px;
    border: 1px solid #ddd;
    /*-webkit-transition: all .25s;*/
    transition: all .25s;
    outline: none;
    padding: 0 16px;
    font-size: 14px;
}
.main1_article1 .div1 .phone .phone_div1 .phone_b1{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;

    position: relative;
    cursor: pointer;
    border: 1px solid;
    border-radius: 4px;
    height: 48px;
    padding: 0 25px;
    font-size: 14px;
    font-weight: 600;
    -webkit-transition: all .25s;
    transition: all .25s;
    white-space: nowrap;

    margin-left: 50px;


    /*border-color: #febe39;*/
    /*color: #ffa63b;*/
    /*background-color: #fff;*/

    border-color: #ddd;
    color: #333;
    /*background-color: #fff;*/
    background-color: #dcdcdc;
}


.main1_article1 .div1 .checkNumber{
    margin-top: 24px;
    padding: 0;
    margin: 0;
    font-style: normal;
}
.main1_article1 .div1 .checkNumber label{
    display: inline-block;
    font-size: 13px;
    margin: 2px 0;
    padding: 0;
    /*margin: 0;*/
    font-style: normal;
}
.main1_article1 .div1 .checkNumber label span{
    padding: 0;
    margin: 0;
    font-style: normal;
    box-sizing: border-box;
}
.main1_article1 .div1 .checkNumber .checkNumber_div1{
    width: 100%;
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    font-style: normal;
}
.main1_article1 .div1 .checkNumber .checkNumber_div1 input{
    width: 100%;
    height: 48px;
    background-color: #fbfbfb;
    border: 1px solid #ddd;
    /*-webkit-transition: all .25s;*/
    transition: all .25s;
    outline: none;
    padding: 0 16px;
    font-size: 14px;
    overflow: visible;
    margin: 0;
    font-family: inherit;
    /*font-size: inherit;*/
    line-height: inherit;
    border-radius: 0;
}





.ok{

}
.ok button{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    /*flex: 1;*/
    width: 100%;
    /*border-color: #febe39;*/
    border-color: #191919;
    /*background-color: #febe39;*/
    background-color: #191919;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    /*cursor: pointer;*/
    border: 1px solid;
    border-radius: 4px;
    height: 48px;
    padding: 0 16px;
    font-size: 14px;
    /*font-weight: 600;*/
    /*-webkit-transition: all .25s;*/
    transition: all .25s;
    white-space: nowrap;
    text-transform: none;
    overflow: visible;
}








.main2{
    display: block;
    padding-bottom: 50px;
    text-align: center;
    white-space: nowrap;
}

.main2 strong{
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    text-indent: -9999px;
    font-weight: bold;
}

.main2 div{

}

.main2 small{
    display: block;
    margin-top: 6px;
    font-size: 11px;
    line-height: 18px;
    color: rgba(0,0,0,.5);
}

.main2 small a{
    font-weight: 700;
    color: rgba(0,0,0,.5);
    cursor: pointer;
    text-decoration: none;
}