<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MAINPAGE</title>
    <link rel="stylesheet" href="../CYN/mainPage.css">

</head>
<body >
<!--style="overflow: auto;"-->
<div id="wrap">
    <div class="wrap_1">
        <a href="" class="wrap_1_a1">본문 바로가기</a>
        <a href="" class="wrap_1_a2">메뉴 바로가기</a>
    </div>
    <header class="header">
        <div class="header_div1">
            <h1 class="header_div1_h1">
                <a href="">
                    <span>놀이터</span>
                </a>
            </h1>
            <nav class="header_div1_nav">
                <h2>전체메뉴</h2>
                <ul>
                    <li class="selectitem" onclick="line()" style="border-bottom: 2px solid rgb(57, 57, 57);">
                        <a href="">홈</a>
                    </li>
                    <li class="selectitem" onclick="line()">
                        <a href="">공지사항</a>
                    </li>
                    <li class="selectitem" onclick="line()">
                        <a href="">과목별 예상문제</a>
                    </li>
                    <li class="selectitem" onclick="line()">
                        <a href="">게시판</a>
                    </li>
                    <li class="selectitem" onclick="line()">
                        <a href="">추천글</a>
                    </li>
                    <!--                        <li class="selectitem" onclick="line()">-->
                    <!--                            <a href="">학교별게시판</a>-->
                    <!--                        </li>-->
                </ul>
            </nav>
            <div class="header_div1_1">
                <div>
                    <a href="">
                            <span>

                            </span>
                    </a>
                </div>
            </div>
            <a href="" class="header_div1_a">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 40 40" width="20" height="20" opacity="1" class="sc-62ee9b1b-0 fVkbrr sc-7d9cc060-3 gBeISY">
                        <g>
                            <path class="path1"></path>
                            <path class="path2"></path>
                        </g>
                    </svg>
                    <span></span>
                </div>
            </a>
            <button class="header_div1_button">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 40 40" width="18" height="18" opacity="1" class="sc-62ee9b1b-0 liTurH">
                    <g transform="translate(2 5)" fill="#22272b" fill-rule="evenodd">
                        <rect class="rect1" width="36" height="3" rx="1.5"></rect>
                        <rect class="rect2" y="14" width="36" height="3" rx="1.5"></rect>
                        <rect class="rect3" y="27" width="36" height="3" rx="1.5"></rect>
                    </g>
                </svg>
                <span>메뉴 펼치기</span>
            </button>
            <div class="header_div1_2">
                <div class="div1">
                    <div class="div2">
                        <button class="button1">
                            <span class="span1"></span>
                            <span class="span2">
                                    <strong>로그인하세요</strong>
                                </span>
                        </button>
                        <ul class="ul1">
                            <li class="ul1_li1">
                                <a href="">
                                    <i></i>
                                    MY
                                </a>
                            </li>
                            <li class="ul1_li2">
                                <a href="">
                                    <i></i>
                                    알림
                                </a>
                            </li>
                        </ul>
                        <nav class="nav1">
                            <h2>사이드메뉴</h2>
                            <ul class="ul2">
                                <li class="ul2_li1">
                                    <a href="">
                                        <i></i>
                                        홈
                                    </a>
                                </li>
                                <li class="ul2_li2">
                                    <a href="">
                                        <i></i>
                                        공지사항
                                    </a>
                                </li>
                                <li class="ul2_li3">
                                    <a href="">
                                        <i></i>
                                        과목별 예상문제
                                    </a>
                                </li>
                                <li class="ul2_li4">
                                    <a href="">
                                        <i></i>
                                        게시판
                                    </a>
                                </li>
                            </ul>
                            <ul class="ul3">
                                <li class="ul3_li1">
                                    <a href="">고객센터</a>
                                </li>
                                <li class="ul3_li2">
                                    <a href="">프로필 등록</a>
                                </li>
                                <li class="ul3_li3">
                                    <a href="">공지사항</a>
                                </li>
                                <li class="ul3_li4">
                                    <a href="">최다 추천글</a>
                                </li>
                            </ul>
                        </nav>
                        <button class="logout">
                            로그아웃
                        </button>
                    </div>
                </div>
                <div class="div3"></div>
            </div>
        </div>
    </header>


    <div class="ex">
        <div class="extra">
            <nav class="extra_nav">
                <h2>전체메뉴</h2>
                <ul>
                    <li class="selectitem" onclick="line()">
                        <a href="">고민 상담 게시판</a>
                    </li>
                    <li class="selectitem" onclick="line()">
                        <a href="">자유 게시판</a>
                    </li>
                    <li class="selectitem" onclick="line()">
                        <a href="">고민 게시판(유료)</a>
                    </li>
                    <li class="selectitem" onclick="line()">
                        <a href="">학교별 게시판</a>
                    </li>
                    <!--                        <li class="selectitem" onclick="line()">-->
                    <!--                            <a href="">학교별게시판</a>-->
                    <!--                        </li>-->
                </ul>
            </nav>
        </div>
    </div>



    <main class="main">
        <h2>놀이터 홈</h2>
        <div class="main_div1">
            <section class="main_section">
                <h3>고민을 나누면 행복합니다❤️</h3>
                <div class="main_section_div">
                    <div class="main_section_div1">
                        <i class="i1"></i>
                        <span class="span1">게시글 55,329,372 건</span>
                        <i class="i2"></i>
                        <i class="i3"></i>
                        <a href="">
                            <span class="span2">공지사항</span>
                        </a>
                    </div>
                </div>
            </section>
            <div class="main_div2">
                <section class="main_div2_section1">
                    <h4 class="h4">
                            <span class="span1">
                                <span class="span2">모로코강진긴급모금</span>
                            </span>
                        <a href="">

                        </a>
                    </h4>
                    <div class="main_div2_section1_div1">
                        <h4>게시글 리스트</h4>
                        <div class="div1">
                            <div class="div2">
                                <a href="">
                                    <div class="d1"></div>
                                    <div class="d2">
                                        <strong>일정</strong>
                                        <span class="span0">2014년 개소한 환타지아양로원은 정부 지원 없이 홀로 계신 저소득층 및 취약 계층 어르신과 대부분 가족의 돌봄을 받지 못하는 몸이 불편한 어르신들이 내 집처럼 편안하게 생...</span>
                                        <div>

                                        </div>
                                        <button>
                                            <span class="span1">#</span>
                                            <span class="span2">학교별게시판</span>
                                        </button>
                                    </div>
                                </a>
                            </div>
                            <div class="div3">
                                <a href="">
                                    <div class="d1"></div>
                                    <div class="d2">
                                        <strong>고민</strong>
                                        <span class="span0">2014년 개소한 환타지아양로원은 정부 지원 없이 홀로 계신 저소득층 및 취약 계층 어르신과 대부분 가족의 돌봄을 받지 못하는 몸이 불편한 어르신들이 내 집처럼 편안하게 생...</span>
                                        <div>

                                        </div>
                                        <button>
                                            <span class="span1">#</span>
                                            <span class="span2">자유게시판</span>
                                        </button>
                                    </div>
                                </a>
                            </div>
                            <div class="div4">
                                <a href="">
                                    <div class="d1"></div>
                                    <div class="d2">
                                        <strong>고민</strong>
                                        <span class="span0">2014년 개소한 환타지아양로원은 정부 지원 없이 홀로 계신 저소득층 및 취약 계층 어르신과 대부분 가족의 돌봄을 받지 못하는 몸이 불편한 어르신들이 내 집처럼 편안하게 생...</span>
                                        <div>

                                        </div>
                                        <button>
                                            <span class="span1">#</span>
                                            <span class="span2">자유게시판</span>
                                        </button>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="main_div2_section1_div2">
                        <div class="main_div2_section1_div2_1">
                            <div class="main_div2_section1_div2_2">
                                <div class="main_div2_section1_div2_3">
                                    <div class="main_div2_section1_div2_4">Slide 1 of 3</div>
                                    <div class="main_div2_section1_div2_5">
                                        <div class="main_div2_section1_div2_6">
                                            <ul class="ul1">
                                                <li class="li1">
                                                    <button></button>
                                                </li>
                                                <li class="li2">
                                                    <button></button>
                                                </li>
                                                <li class="li3">
                                                    <button></button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="main_div2_section1_div2_7">
                                        <div class="main_div2_section1_div2_8">
                                            <div class="d1"></div>
                                            <div class="d2"></div>
                                            <div class="d3"></div>
                                            <div class="d4"></div>
                                            <div class="d5"></div>
                                            <div class="d6"></div>
                                            <div class="d7"></div>
                                            <div class="d8"></div>
                                            <div class="d9"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main_div2_section1_div3">
                        <h4>게시글 리스트</h4>
                        <div class="div1">
                            <div class="div2">
                                <a href="">
                                    <div class="d1"></div>
                                    <div class="d2">
                                        <strong>고민</strong>
                                        <span class="span0">2014년 개소한 환타지아양로원은 정부 지원 없이 홀로 계신 저소득층 및 취약 계층 어르신과 대부분 가족의 돌봄을 받지 못하는 몸이 불편한 어르신들이 내 집처럼 편안하게 생...</span>
                                        <div>

                                        </div>
                                        <button>
                                            <span class="span1">#</span>
                                            <span class="span2">자유게시판</span>
                                        </button>
                                    </div>
                                </a>
                            </div>
                            <div class="div3">
                                <a href="">
                                    <div class="d1"></div>
                                    <div class="d2">
                                        <strong>고민</strong>
                                        <span class="span0">2014년 개소한 환타지아양로원은 정부 지원 없이 홀로 계신 저소득층 및 취약 계층 어르신과 대부분 가족의 돌봄을 받지 못하는 몸이 불편한 어르신들이 내 집처럼 편안하게 생...</span>
                                        <div>

                                        </div>
                                        <button>
                                            <span class="span1">#</span>
                                            <span class="span2">자유게시판</span>
                                        </button>
                                    </div>
                                </a>
                            </div>
                            <div class="div4">
                                <a href="">
                                    <div class="d1"></div>
                                    <div class="d2">
                                        <strong>고민</strong>
                                        <span class="span0">2014년 개소한 환타지아양로원은 정부 지원 없이 홀로 계신 저소득층 및 취약 계층 어르신과 대부분 가족의 돌봄을 받지 못하는 몸이 불편한 어르신들이 내 집처럼 편안하게 생...</span>
                                        <div>

                                        </div>
                                        <button>
                                            <span class="span1">#</span>
                                            <span class="span2">자유게시판</span>
                                        </button>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="main_div2_section1_div4">
                        <h4 class="h41">
                            <a href="" class="a1">
                                <div class="div1">
                                    <span class="span1">댓글도 힘이 되는</span>
                                    <em class="em1">가장 쉬운 소통 ❤️</em>
                                </div>
                            </a>
                        </h4>
                        <div class="div2">
                            <button class="b1">#<!-- -->고민상담</button>
                            <button class="b2">#<!-- -->자유</button>
                            <button class="b3">#<!-- -->학교별</button>
                            <button class="b4">#<!-- -->시간표</button>
                        </div>
                        <div class="div3">
                            <div class="d1">
                                <a href="" class="a1">
                                    <div class="d1"></div>
                                    <div class="d2">
                                        <strong>학생들을 편하게 대하는 법 아시는 분?</strong>
                                        <span>자유게시판</span>
                                        <!--                                            <div class="d3">-->
                                        <!--                                                -->
                                        <!--                                            </div>-->
                                    </div>
                                </a>
                            </div>
                            <div class="d2">
                                <a href="" class="a1">
                                    <div class="d1"></div>
                                    <div class="d2">
                                        <strong>학부모 상담 꿀팁있나요?</strong>
                                        <span>고민상담</span>
                                        <!--                                            <div class="d3">-->
                                        <!--                                                -->
                                        <!--                                            </div>-->
                                    </div>
                                </a>
                            </div>
                            <div class="d3">
                                <a href="" class="a1">
                                    <div class="d1"></div>
                                    <div class="d2">
                                        <strong>시간표 공유</strong>
                                        <span>학교별게시판</span>
                                        <!--                                            <div class="d3">-->
                                        <!--                                                -->
                                        <!--                                            </div>-->
                                    </div>
                                </a>
                            </div>
                            <div class="d4">
                                <a href="" class="a1">
                                    <div class="d1"></div>
                                    <div class="d2">
                                        <strong>수학</strong>
                                        <span>과목별문제</span>
                                        <!--                                            <div class="d3">-->
                                        <!--                                                -->
                                        <!--                                            </div>-->
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="main_div2_section2">
                    <div class="div1">
                        <div class="div2">
                            <h4 class="h41">
                                <a href="" class="a1">
                                        <span class="span1">
                                            우리가
                                            <br class="br1">
                                            같이만든 변화들
                                        </span>
                                </a>
                            </h4>
                            <p class="p1">
                                2023.09.15<!-- --> 기준
                            </p>
                            <div class="div3"></div>
                            <div class="div4">
                                <a href="" class="a2">
                                    <div class="d1">
                                        <i></i>
                                        <strong>총 게시글</strong>
                                        <em>70,325,179,003<!-- -->개</em>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="div5">
                            <div class="d1">
                                <a href="" class="a1">
                                    <h4>베스트 댓글</h4>
                                </a>
                            </div>
                            <div class="d2">
                                <div class="d2_1">
                                    교직 12년이 넘었는데 여전히 나의 내면은 흔들린다. 여전히 두려울 때가 많다. 왜 그럴까? 내가 끊임없이 무너지는 ‘그 지점’이 있다. 수업 고민을 살펴보면 결국은 이 두려움에 뿌리내리고 있음을 발견한다.
                                    겉으로 보이는 수업 속 문제는 동학년 선생님들과 같이 고민하기도 했지만, 교사로서 느끼는 두려움은 참으로 꺼내기 어려운 주제였다. 내가 약해 보일까 봐, 무능해 보일까 봐 마음속 깊숙이 감추어왔던 것이다. 수업 나눔을 하며, 이런 두려움을 처음으로 말할 수 있었다. 마음속 두려움을 말하면 선생님들이 흉볼지도 모른다고 생각했는데, 수업 친구들은 오히려 진심으로 공감해 주었다. ‘선생님만의 문제가 아니라고. 나도 느끼는 거라고.’ 공감과 지지만 받았을 뿐인데도, 신기하게도 두려움이 조금씩 걷혀갔다.
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <footer class="footer"></footer>
</div>
</body>
<script>
    const button = document.querySelector(".header_div1_button svg");
    const modal = document.querySelector(".header_div1_2");
    const bc = document.querySelector(".header_div1_2 .div3");
    const body = document.querySelector("body");



    button.addEventListener("click", (e) => {

            modal.style.visibility = 'visible';
            body.style.overflowY = 'hidden';
            // modal.classList.add('modalBody');

        }
    )
    bc.addEventListener("click", (e) => {
        modal.style.visibility = 'hidden';
        body.style.overflowY = 'auto';
    })





    let check = "";
    const lines = document.querySelectorAll(".header_div1_nav ul .selectitem");
    lines.forEach((item) => {
        item.addEventListener("click", (e) => {
            lines.forEach((e) => {
                e.classList.add('noline');
            })
            item.classList.add('line');
        })
    })

    const li = document.querySelectorAll(".header_div1_nav ul .selectitem");
    const a = document.querySelectorAll(".header_div1_nav ul .selectitem a");
    const extra = document.querySelector(".extra");
    li.forEach((item) => {
        item.addEventListener("mouseover", (e) => {
            a.forEach((i) => {
                if(i.textContent === '게시판' & e.target.textContent === '게시판'){
                    // i.style.color = 'blue';
                    extra.style.display = 'block';
                }

            })

        })
    })

    li.forEach((item) => {
        item.addEventListener("mouseout", (e) => {
            a.forEach((i) => {
                if(i.textContent === '게시판' & e.target.textContent === '게시판'){
                    // i.style.color = 'black';
                    // extra.style.display = 'none';
                }

            })

        })
    })



    const lis = document.querySelectorAll(".ex .extra .extra_nav .selectitem");
    const as = document.querySelectorAll(".ex .extra .extra_nav .selectitem a");


    lis.forEach((item) => {
        item.addEventListener("mouseover", (e) => {
            as.forEach((i) => {
                if(i.textContent === e.target.textContent){
                    i.style.color = 'rgb(68, 68, 68)';
                }

            })

        })
    })

    lis.forEach((item) => {
        item.addEventListener("mouseout", (e) => {
            as.forEach((i) => {
                if(i.textContent === e.target.textContent){
                    i.style.color = '#a0a0a0';
                }

            })

        })
    })
    // lines.forEach((item) => {
    //     item.addEventListener("click", (e) => {
    //         e.target.style.classList.add('line');
    //         check = true;
    //     })
    // })

</script>
</html>