<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PASSWORDFINDSUCCESS</title>
  <link rel="stylesheet" href="passwordFindSuccess.css">
</head>
<body>
<div id="wrap">
  <div class="header">
    <h1 class="h1">
      <span class="span">놀이터</span>
    </h1>
  </div>
  <div class="main">
    <div class="main1">
      <article class="article">
        <div class="article_div1">
          <h2>새로운 비밀번호를 입력해 주세요.</h2>
          <form action="" class="form">
            <fieldset class="fieldset">
              <legend>새로운 비밀번호 입력폼</legend>
              <strong>비밀번호</strong>
              <div class="div1">
<!--                <label for="" class="label1">비밀번호(8~32자리)</label>-->
                <div class="div1_1">
                  <label for="" class="label2">
                    <span class="span1">비밀번호(8~32자리)</span>
                    <span class="span2">비밀번호(8~32자리)</span>
                  </label>
                  <input type="password" placeholder="비밀번호(8~32자리)" data-error-invalid="입력한 비밀번호와 재입력한 비밀번호가 일치하지 않습니다. 다시 확인해 주세요." autocomplete="off">
                  <div class="div1">
                    <button class="bt1">
                      <span class="sp1">삭제</span>
                    </button>
                    <span class="sp2">완료 버튼</span>
                  </div>
                  <p>비밀번호는 8~32자리(영문자/숫자/특수문자)로 입력할 수 있어요.</p>
                </div>
              </div>
              <div class="div2">
                <label for="" class="label1">비밀번호 재입력</label>
                <div class="div2_1">
                  <label for="" class="label2">비밀번호 재입력</label>
                  <input type="password" placeholder="비밀번호 재입력" data-error-invalid="입력한 비밀번호와 재입력한 비밀번호가 일치하지 않습니다. 다시 확인해 주세요." autocomplete="off">
                  <div class="div1">
                    <button class="bt1">
                      <span class="sp1">삭제</span>
                    </button>
                    <span class="sp2">완료 버튼</span>
                  </div>
                  <p></p>
                </div>
              </div>
              <ul class="ul1">
                <li class="li1">
                  <span class="sp1"></span>
                  비밀번호는 8 ~ 32 자의 영문 대소문자, 숫자, 특수문자를 조합하여 설정해 주세요.
                </li>
                <li class="li2">
                  <span class="sp2"></span>
                  다른사이트에서 사용하는 것과 동일하거나 쉬운 비밀번호는 사용하지 마세요.
                </li>
                <li class="li3">
                  <span class="sp3"></span>
                  안전한 계정 사용을 위해 비밀번호는 주기적으로 변경해 주세요.
                </li>
              </ul>
              <div class="div3">
                <button type="button" class="bt1">완료</button>
                <a href="" class="a1">다음에 변경할래요.</a>
              </div>
            </fieldset>
          </form>
        </div>
      </article>
    </div>
  </div>
  <footer class="main2">
    <strong>서비스 이용정보</strong>
    <div>
      <!--                        여기도 채워야함...-->
    </div>
    <small>
      Copyright ©
      <a class="link_kakaocorp" href="http://kakaocorp.com/">Kakao Corp.</a>
      All rights reserved.
    </small>
  </footer>
</div>
</body>
<script>
  const b = document.querySelector("#wrap .main .main1 .article .article_div1 .form .fieldset .div1 .div1_1 input");
  const red = document.querySelector("#wrap .main .main1 .article .article_div1 .form .fieldset .div1 .div1_1 p")
  b.addEventListener("click", (e) => {
    red.style.display = 'block';
  })


  const button = document.querySelector("#wrap .main .main1 .article .article_div1 .form .fieldset .div3 .bt1");
  button.addEventListener("mouseover", (e) => {
    e.target.style.backgroundColor = '#b4b4b4';
  })
  button.addEventListener("mouseout", (e) => {
    e.target.style.backgroundColor = 'rgba(0,0,0,0.06)';
  })
</script>
</html>