<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PASSWORDFIND</title>
  <link rel="stylesheet" href="./passwordFind.css">
</head>
<body>
<div id="wrap">
  <div class="div1">
    <div class="div2">
      <main class="main1">
        <div class="main1_div1" style="padding-top: 60px">
          <h3 class="h3">
            <span class="span2" >비밀번호 찾기</span>
          </h3>
        </div>
        <article class="main1_article1">
          <div class="div1" style="height: 100%; padding: 55px 0 50px;">
            <div class="name">
              <label for="">
                <span>ID 또는 휴대폰번호</span>
              </label>
              <div class="name_div1">
                <input type="text">
              </div>
            </div>

            <div class="phone" style="margin-top: 24px">
              <label for="">
                <span>휴대폰 번호</span>
              </label>
              <div class="phone_div1">
                <div class="phone_div2">
                  <div class="phone_div3">
                    <input type="text">
                  </div>
                </div>
                <button class="phone_b1">
                  인증번호 발송
                </button>
              </div>
            </div>


            <div class="checkNumber" style="margin-top: 24px">
              <label for="">
                <span>인증번호</span>
              </label>
              <div class="checkNumber_div1">
                <input >
              </div>
            </div>


            <div class="ok" style="margin-top: 45px">
              <button>확인</button>
            </div>
          </div>
        </article>
      </main>
      <footer class="main2">
        <strong>서비스 이용정보</strong>
        <div>
          <!--                        여기도 채워야함...-->
        </div>
        <small>
          Copyright ©
          <a class="" href="">Kakao Corp.</a>
          All rights reserved.
        </small>
      </footer>
    </div>
  </div>
</div>
</body>
<script>

  function inp(){
    const input = document.querySelector(".main1_article1 .div1 .div2 .form1 .d3 .d3_1 input[name=in]");
    const span1 = document.querySelector(".main1_article1 .div1 .div2 .form1 .d3 .d3_1 .label1 .span1");
    const span2 = document.querySelector(".main1_article1 .div1 .div2 .form1 .d3 .d3_1 .label1 .span2");


    if(span2.style.visibility === 'visible') {
      span2.style.visibility = 'hidden';
    }
    else{
      span2.style.visibility = 'visible';
    }
  }

  // const button = document.querySelector(".main1_article1 .div1 .div2 .form1 .d4 .bt1");
  // button.addEventListener("click", (e) => {
  //     const input1 = document.querySelector(".main1_article1 .div1 .div2 .form1 .d1 .d1_1 input");
  //     const alert = document.querySelector(".main1_article1 .div1 .div2 .form1 .d3_5");
  //     if(input1.value === ""){
  //         alert.style.display = 'block';
  //     }
  // })

  const b1 = document.querySelector('.phone_b1');
  b1.addEventListener("mouseover", (e) => {
    e.target.style.backgroundColor = '#b4b4b4';
  })

  b1.addEventListener("mouseout", (e) => {
    e.target.style.backgroundColor = '#dcdcdc';
  })

  const b2 = document.querySelector('.phonecheck_b1');
  b2.addEventListener("mouseover", (e) => {
    e.target.style.backgroundColor = '#b4b4b4';
  })

  b2.addEventListener("mouseout", (e) => {
    e.target.style.backgroundColor = '#dcdcdc';
  })

</script>
</html>