<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SOCIALLOGIN</title>
    <link rel="stylesheet" href="./socialLogin.css">
</head>
<body>
<div id="wrap">
    <div class="div1">
        <div class="div2">
            <main class="main1">
                <div class="main1_div1" style="padding-top: 50px">
                    <h1 class="h1">
                            <span class="span1">
                                <span class="span2" >놀이터</span>
                            </span>
                    </h1>
                </div>
                <article class="main1_article1">
                    <div class="div1">
                        <form action="">
                            <h2>소셜로 로그인하기</h2>
                            <p class="p1">
                                카카오계정 하나로<br>다양한 서비스를 편리하게 이용해 보세요.
                            </p>
                            <p class="p2">

                            </p>
                            <div class="div2">
                                <button type="button" class="b1">
                                    카카오로 시작하기
                                </button>
                                <button type="button" class="b2">
                                    새 이메일이 필요합니다.
                                </button>
                            </div>
                        </form>
                    </div>
                </article>
            </main>
            <footer class="main2">
                <strong>서비스 이용정보</strong>
                <div>
                    <!--                        여기도 채워야함...-->
                </div>
                <small>
                    Copyright ©
                    <a class="link_kakaocorp" href="http://kakaocorp.com/">Kakao Corp.</a>
                    All rights reserved.
                </small>
            </footer>
        </div>
    </div>
</div>
</body>
<script>

    function inp(){
        const input = document.querySelector(".main1_article1 .div1 .div2 .form1 .d3 .d3_1 input[name=in]");
        const span1 = document.querySelector(".main1_article1 .div1 .div2 .form1 .d3 .d3_1 .label1 .span1");
        const span2 = document.querySelector(".main1_article1 .div1 .div2 .form1 .d3 .d3_1 .label1 .span2");


        if(span2.style.visibility === 'visible') {
            span2.style.visibility = 'hidden';
        }
        else{
            span2.style.visibility = 'visible';
        }
    }

    // const button = document.querySelector(".main1_article1 .div1 .div2 .form1 .d4 .bt1");
    // button.addEventListener("click", (e) => {
    //     const input1 = document.querySelector(".main1_article1 .div1 .div2 .form1 .d1 .d1_1 input");
    //     const alert = document.querySelector(".main1_article1 .div1 .div2 .form1 .d3_5");
    //     if(input1.value === ""){
    //         alert.style.display = 'block';
    //     }
    // })



</script>
</html>