@font-face {
    font-family: NotoSans;
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/NotoSansKR-Bold.woff') format("woff"),
    url("./fonts/NotoSansKR-Bold.woff") format("woff")
}

@font-face {
    font-family: NotoSans;
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/NotoSansKR-Regular.woff') format("woff"),
    url('./fonts/NotoSansKR-Regular.woff') format("woff")
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Roboto-Regular.woff') format("woff"),
    url('./fonts/Roboto-Regular.woff') format("woff")
}


@font-face {
    font-family: KakaoBig Bold;
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/KakaoBigBold (4).woff2') format("woff2"),
    url("./fonts/KakaoBigBold (4).woff2") format("woff2")
}

@font-face {
    font-family: KakaoBig Regular;
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/KakaoBigRegular (3).woff2') format("woff2"),
    url('./fonts/KakaoBigRegular (3).woff2') format("woff2")
}
body {
    font-family: NotoSansKR-Bold, Noto Sans, sans-serif,Roboto-Regular;
}

select{
    font-family: Roboto-Regular, Noto Sans, sans-serif;
}

h6 {
    display: block;
    /*font-size: 0.67em;*/
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /*font-weight: bold;*/
}
.h5, h5 {
    font-size: 1.25rem;
}

input:not([type="range"]):not([type="color"]):not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="file"]) {
    writing-mode: horizontal-tb !important;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

input {
    text-rendering: auto;
    /*color: fieldtext;*/
    letter-spacing: normal;
    word-spacing: normal;
    /*line-height: normal;*/
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;

}

a {
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

b, strong {
    font-weight: bolder;
}

body {
    margin: 0;
    /*font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;*/
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    font-family: NotoSansKR-Bold, Roboto-Regular, Noto Sans, sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    /*margin-bottom: .5rem;*/
    /*font-weight: 500;*/
    line-height: 1.2;
}

h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, input, select, textarea {
    /*background-color: transparent;*/
    border-style: none;
    color: inherit;
}

button, input, optgroup, select, textarea {
    font: inherit;
}

button {
    appearance: auto;
    text-rendering: auto;
    /*color: buttontext;*/
    letter-spacing: normal;
    word-spacing: normal;
    /*line-height: normal;*/
    /*text-transform: none;*/
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    /*cursor: default;*/
    /*box-sizing: border-box;*/
    /*background-color: buttonface;*/
    writing-mode: horizontal-tb !important;
    /*margin: 0em;*/
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    /*border-style: outset;*/
    border-color: buttonborder;
    border-image: initial;
}

* {
    padding: 0;
    margin: 0;
    font-style: normal;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
body, html {
    overflow-y: hidden;
    background-color: transparent!important;
    font-family: Noto Sans,sans-serif;
    height: 100%;
}

#wrap{
    height: 100%;
    overflow-x: auto;
}

#wrap .div1{
    position: relative;
    padding: 0 24px;
    height: 73px;
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    display: flex;
    -webkit-box-pack: justify;
    /*-ms-flex-pack: justify;*/
    justify-content: space-between;
    -webkit-box-align: center;
    /*-ms-flex-align: center;*/
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    min-width: 1400px;
    background-image: url(../img/header_background.230515ec.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
}

#wrap .div1 .div1_1{
    display: flex;
    -webkit-box-pack: start;
    /*-ms-flex-pack: start;*/
    justify-content: flex-start;
    -webkit-box-align: center;
    /*-ms-flex-align: center;*/
    align-items: center;
}

#wrap .div1 .div1_1 .div1_2 h3{
    height: 28px;
}
#wrap .div2 {
    height: calc(100% - 73px);
    padding-top: 24px;
    padding-bottom: 24px;
    overflow-y: auto;
    /*height: 100vh;*/
    max-height: calc(100vh - 73px);
}
#wrap .div2 .div2_1{
    min-width: 400px;
    display: block;
    margin: 0 auto;
    -webkit-box-flex: 0;
    max-width: 33.333333%;

    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

#wrap .div2 .div2_1 .div2_2{
    height: 40px;
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    display: flex;
    -webkit-box-align: center;
    /*-ms-flex-align: center;*/
    align-items: center;
}
#wrap .div2 .div2_1 .div2_2 .b1{
    cursor: pointer;
    width: 36px;
    height: 36px;
    border-radius: 20px;
    background-color: #ebebeb;
}
#wrap .div2 .div2_1 .div2_2 .b1 svg{
    overflow: visible;
    box-sizing: content-box;
    display: var(--fa-display, inline-block);
    height: 1em;
    /*overflow: visible;*/
    vertical-align: -0.125em;
    overflow-clip-margin: content-box;
}
#wrap .div2 .div2_1 .div2_2 .b1 svg path{
    transform-origin: 0px 0px;
}
#wrap .div2 .div2_1 .div2_2 h5{
    font-weight: 700;
    margin: 0 0 0 12px;
    font-size: 1.25rem;
}

#wrap .div2 .div2_1 .div2_3{
    height: 30px;
}
#wrap .div2 .div2_1 .div2_4{
    margin-right: -10px;
    margin-left: -10px;
    display: flex;
    /*-ms-flex-wrap: wrap;*/
    flex-wrap: wrap;


}
#wrap .div2 .div2_1 .div2_4 .div2_5{
    display: block;
    margin: 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
#wrap .div2 .div2_1 .div2_4 .div2_5 .h6_1{
    font-size: 1rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;

    font-family: "KakaoBig Bold","KakaoBig Regular";
}
#wrap .div2 .div2_1 .div2_4 .div2_5 .d1{
    margin-right: -10px;
    margin-left: -10px;
    display: flex;
    /*-ms-flex-wrap: wrap;*/
    flex-wrap: wrap;
}
#wrap .div2 .div2_1 .div2_4 .div2_5 .d1 .d1_1{
    -webkit-box-flex: 0;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

#wrap .div2 .div2_1 .div2_4 .div2_5 .d1 .d1_1 .d1_2{
    width: 100%;
    display: inline-block;
    position: relative;
}
#wrap .div2 .div2_1 .div2_4 .div2_5 .d1 .d1_1 .d1_2 input{
    padding-left: 10px;
    width: 100%;
    height: 48px;
    background-color: #fbfbfb;
    border: 1px solid #ddd;
    /*-webkit-transition: all .25s;*/
    transition: all .25s;
    outline: none;
    padding: 0 16px;
    font-size: 14px;

    font-family: "KakaoBig Regular";
}
#wrap .div2 .div2_1 .div2_4 .div2_5 .d1 .dl_3{
    max-height: 400px;
}
#wrap .div2 .div2_1 .div2_4 .div2_5 .d1 .dl_4{
    -webkit-box-flex: 0;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    width: 100%;
    padding-right: 5px;
    padding-left: 15px;

}
#wrap .div2 .div2_1 .div2_4 .div2_5 .d1 .dl_4 .b1{
    -webkit-box-flex: 1;
    /*-ms-flex: 1;*/
    /*flex: 1;*/
    width: 100%;
    /*border-color: #ddd;*/
    /*border-color: #ddd;*/
    color: #333;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    /*cursor: pointer;*/
    border: 1px solid #dddddd;
    border-radius: 4px;
    height: 48px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 600;
    /*-webkit-transition: all .25s;*/
    transition: all .25s;
    white-space: nowrap;

    font-family: "KakaoBig Bold","KakaoBig Regular";

}
#wrap .div2 .div2_1 .div2_4 .div2_5 .d11{

}
#wrap .div2 .div2_1 .div2_4 .div2_5 .h6_2{
    font-size: 1rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}



#wrap .div2 .div2_1 .div2_4 .div2_5 .select1{
    height: 48px;
    width: 100%;

    padding: 0 16px;
    margin-left: 5px;
    color: #606266;
    border-radius: 4px;

    border: 1px solid #dcdfe6;
    background-color: #fff;
    line-height: 40px;
    outline: none;
    /*padding: 0 15px;*/

}







/*#wrap .div2 .div2_1 .div2_4 .div2_5 .d2{*/
/*    margin-right: -10px;*/
/*    margin-left: -10px;*/
/*    display: flex;*/
/*    !*-ms-flex-wrap: wrap;*!*/
/*    flex-wrap: wrap;*/


/*}*/
/*#wrap .div2 .div2_1 .div2_4 .div2_5 .d2 .d2_1{*/
/*    -webkit-box-flex: 0;*/
/*    flex: 0 0 100%;*/
/*    max-width: 100%;*/
/*    position: relative;*/
/*    width: 100%;*/
/*    padding-right: 15px;*/
/*    padding-left: 15px;*/
/*}*/
/*#wrap .div2 .div2_1 .div2_4 .div2_5 .d2 .d2_1 .d2_2{*/
/*    width: 100%;*/
/*    min-height: 48px;*/
/*    display: inline-block;*/
/*    position: relative;*/
/*}*/
/*#wrap .div2 .div2_1 .div2_4 .div2_5 .d2 .d2_1 .d2_2 .d2_3{*/
/*    display: block;*/
/*    min-height: 48px;*/
/*    position: relative;*/
/*    font-size: 14px;*/
/*    !*display: inline-block;*!*/
/*    width: 100%;*/

/*}*/
/*#wrap .div2 .div2_1 .div2_4 .div2_5 .d2 .d2_1 .d2_2 .d2_3 input{*/
/*    padding-right: 20px;*/
/*    cursor: pointer;*/
/*    padding-left: 10px;*/
/*    min-height: 48px;*/
/*    -webkit-appearance: none;*/
/*    background-color: #fff;*/
/*    background-image: none;*/
/*    border-radius: 4px;*/
/*    border: 1px solid #dcdfe6;*/
/*    !*-webkit-box-sizing: border-box;*!*/
/*    box-sizing: border-box;*/
/*    color: #606266;*/
/*    display: inline-block;*/
/*    font-size: inherit;*/
/*    height: 40px;*/
/*    line-height: 40px;*/
/*    outline: none;*/
/*    padding: 0 15px;*/
/*    !*-webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);*!*/
/*    transition: border-color .2s cubic-bezier(.645,.045,.355,1);*/
/*    width: 100%;*/
/*}*/

/*#wrap .div2 .div2_1 .div2_4 .div2_5 .d2 .d2_1 .d2_2 .d2_3 .sp1{*/
/*    min-height: 48px;*/
/*    position: absolute;*/
/*    height: 100%;*/
/*    right: 5px;*/
/*    top: 0;*/
/*    text-align: center;*/
/*    color: #c0c4cc;*/
/*    !*-webkit-transition: all .3s;*!*/
/*    transition: all .3s;*/
/*    pointer-events: none;*/
/*}*/
/*#wrap .div2 .div2_1 .div2_4 .div2_5 .d2 .d2_1 .d2_2 .d2_3 .sp1 .sp2{*/
/*    min-height: 48px;*/
/*    pointer-events: all;*/
/*}*/
/*#wrap .div2 .div2_1 .div2_4 .div2_5 .d2 .d2_1 .d2_2 .d2_3 .sp1 .sp2 .i1{*/
/*    color: #c0c4cc;*/
/*    font-size: 14px;*/
/*    !*-webkit-transition: -webkit-transform .3s;*!*/
/*    !*transition: -webkit-transform .3s;*!*/
/*    !*transition: transform .3s;*!*/
/*    transition: transform .3s,-webkit-transform .3s;*/
/*    !*-webkit-transform: rotate(180deg);*!*/
/*    transform: rotate(180deg);*/
/*    cursor: pointer;*/
/*}*/
#wrap .div2 .div2_1 .div2_4 .div2_5 .d21{
    padding: 0;
    margin: 0;
    font-style: normal;
}

#wrap .div2 .div2_1 .div2_4 .div2_5 .h6_3{
    font-size: 1rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}

#wrap .div2 .div2_1 .div2_4 .div2_5 .d3{
    /*margin-right: -10px;*/
    margin-right: -20px;
    margin-left: -10px;
    display: flex;
    /*-ms-flex-wrap: wrap;*/
    flex-wrap: wrap;

}
#wrap .div2 .div2_1 .div2_4 .div2_5 .d3 .d3_1{
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
#wrap .div2 .div2_1 .div2_4 .div2_5 .d3 .d3_1 .d3_2{
    width: 100%;
    display: inline-block;
    position: relative;
}

#wrap .div2 .div2_1 .div2_4 .div2_5 .d3 .d3_1 .d3_2 input{
    padding-left: 10px;
    width: 100%;
    height: 48px;
    background-color: #fbfbfb;
    border: 1px solid #ddd;
    /*-webkit-transition: all .25s;*/
    transition: all .25s;
    outline: none;
    padding: 0 16px;
    font-size: 14px;
}


#wrap .div2 .div2_1 .div2_4 .div2_5 .h6_4{
    font-size: 1rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}

#wrap .div2 .div2_1 .div2_4 .div2_5 .d4{

}
#wrap .div2 .div2_1 .div2_4 .div2_5 .d4 .d4_1{

}
#wrap .div2 .div2_1 .div2_4 .div2_5 .d4 .d4_1 .label1{
    display: inline-flex;
    -webkit-box-align: center;
    /*-ms-flex-align: center;*/
    align-items: center;
    cursor: pointer;
    /*-webkit-user-select: none;*/
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
}
#wrap .div2 .div2_1 .div2_4 .div2_5 .d4 .d4_1 .label1 input{
    display: none;
    padding-left: 10px;
    box-sizing: border-box;
    padding: 0

}
#wrap .div2 .div2_1 .div2_4 .div2_5 .d4 .d4_1 .label1 div{
    border-color: #febe39;
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #fbfbfb;
}
#wrap .div2 .div2_1 .div2_4 .div2_5 .d4 .d4_1 .label1 span{
    color: #febe39;
    font-weight: 500;
    margin-left: 10px;
}





#wrap .div2 .div2_1 .div2_4 .div2_5 .d4 .d4_1 .label2{

    margin-left: 30px;
    display: inline-flex;
    -webkit-box-align: center;
    /*-ms-flex-align: center;*/
    align-items: center;
    cursor: pointer;
    /*-webkit-user-select: none;*/
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*margin: 0;*/
}
#wrap .div2 .div2_1 .div2_4 .div2_5 .d4 .d4_1 .label2 input{
    display: none;
    padding-left: 10px;
    box-sizing: border-box;
    padding: 0

}
#wrap .div2 .div2_1 .div2_4 .div2_5 .d4 .d4_1 .label2 div{
    /*border-color: #febe39;*/
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #fbfbfb;
}
#wrap .div2 .div2_1 .div2_4 .div2_5 .d4 .d4_1 .label2 span{
    /*color: #febe39;*/
    color: #626262;
    font-weight: 500;
    margin-left: 10px;
}
#wrap .div2 .div2_1 .div2_4 .div2_5 .h6_5{
    font-size: 1rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;

    font-family: "KakaoBig Bold","KakaoBig Regular";
}

#wrap .div2 .div2_1 .div2_4 .div2_5 .h6_5_div1{
    margin-right: -10px;
    margin-left: -10px;
    display: flex;
    /*-ms-flex-wrap: wrap;*/
    flex-wrap: wrap;

    width: 100%;


    font-family: "KakaoBig Regular";
}
#wrap .div2 .div2_1 .div2_4 .div2_5 .h6_5_div1 .select2{

    height: 48px;
    width: 45%;

    padding: 0 16px;
    margin-left: 12px;
    color: #606266;
    border-radius: 4px;

    border: 1px solid #dcdfe6;
    background-color: #fff;
    line-height: 40px;
    outline: none;
    /*padding: 0 15px;*/
}

#wrap .div2 .div2_1 .div2_4 .div2_5 .h6_5_div1 .select3{
    padding-left: 10px;
    height: 48px;
    width: 45%;

    padding-right: 0;
    /*padding: 0 16px;*/
    margin-left: 10px;
    color: #606266;
    border-radius: 4px;

    border: 1px solid #dcdfe6;
    background-color: #fff;
    line-height: 40px;
    outline: none;
    /*padding: 0 15px;*/
}


#wrap .div2 .div2_1 .div2_4 .div2_5 .h6_5_div1 .h6_5_div2{
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
#wrap .div2 .div2_1 .div2_4 .div2_5 .h6_5_div1 .h6_5_div2 .h6_5_div3{
    width: 100%;
    display: inline-block;
    position: relative;
}
#wrap .div2 .div2_1 .div2_4 .div2_5 .h6_5_div1 .h6_5_div2 .h6_5_div3 input{
    padding-left: 10px;
    width: 100%;
    height: 48px;
    background-color: #fbfbfb;
    border: 1px solid #ddd;
    /*-webkit-transition: all .25s;*/
    transition: all .25s;
    outline: none;
    padding: 0 16px;
    font-size: 14px;
}

.next{
    -webkit-box-flex: 1;
    /*-ms-flex: 1;*/
    /*flex: 1;*/
    width: 100%;
    border-color: #febe39;
    /*background-color: #febe39;*/
    background-color: #191919;
    color: #fff;
    font-weight: 600;
    /*cursor: pointer;*/
    position: relative;
    cursor: pointer;
    border: 1px solid;
    border-radius: 4px;
    height: 48px;
    padding: 0 16px;
    font-size: 14px;
    /*font-weight: 600;*/
    /*-webkit-transition: all .25s;*/
    transition: all .25s;
    white-space: nowrap;
    text-transform: none;

    font-family: "KakaoBig Bold","KakaoBig Regular";
}

/*.extra{*/
/*    display: block;*/


/*    min-width: 350px;*/
/*    transform-origin: center top;*/
/*    z-index: 2061;*/
/*    position: absolute;*/
/*    top: 340px;*/
/*    left: 284px;*/
/*    !*margin-top: 12px;*!*/
/*    border: 1px solid #e4e7ed;*/
/*    border-radius: 4px;*/
/*    background-color: #fff;*/
/*    !*-webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);*!*/
/*    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);*/
/*    !*-webkit-box-sizing: border-box;*!*/
/*    box-sizing: border-box;*/
/*    margin: 5px 0;*/
/*}*/

/*.extra .extra_div1{*/
/*    overflow: hidden;*/
/*    position: relative;*/
/*}*/
/*.extra .extra_div1 .extra_div2{*/
/*    margin-bottom: -17px;*/
/*    margin-right: -17px;*/
/*    overflow: scroll;*/
/*    height: 100%;*/
/*    max-height: 274px;*/
/*}*/
/*.extra .extra_div1 .extra_div2 .extra_ul1{*/
/*    list-style: none;*/
/*    padding: 6px 0;*/
/*    margin: 0;*/
/*    !*-webkit-box-sizing: border-box;*!*/
/*    box-sizing: border-box;*/
/*}*/
/*.extra .extra_div1 .extra_div2 .extra_ul1 li{*/
/*    background-color: #f6f6f6;*/
/*    font-size: 14px;*/
/*    padding: 0 20px;*/
/*    position: relative;*/
/*    white-space: nowrap;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    color: #606266;*/
/*    height: 34px;*/
/*    line-height: 34px;*/
/*    !*-webkit-box-sizing: border-box;*!*/
/*    box-sizing: border-box;*/
/*    cursor: pointer;*/

/*    margin: 0;*/
/*    list-style: none;*/
/*}*/

/*.extra .extra_div1 .extra_div3{*/
/*    height: 6px;*/
/*    left: 2px;*/
/*    position: absolute;*/
/*    right: 2px;*/
/*    bottom: 2px;*/
/*    z-index: 1;*/
/*    border-radius: 4px;*/
/*    opacity: 0;*/
/*    !*-webkit-transition: opacity .12s ease-out;*!*/
/*    transition: opacity .12s ease-out;*/
/*}*/
/*.extra .extra_div1 .extra_div3 .div1{*/
/*    transform: translateX(0%);*/
/*    height: 100%;*/
/*    position: relative;*/
/*    display: block;*/
/*    width: 0;*/
/*    !*height: 0;*!*/
/*    cursor: pointer;*/
/*    border-radius: inherit;*/
/*    background-color: rgba(144,147,153,.3);*/
/*    !*-webkit-transition: background-color .3s;*!*/
/*    transition: background-color .3s;*/
/*}*/
/*.extra .extra_div1 .extra_div4{*/
/*    width: 6px;*/
/*    top: 2px;*/
/*    position: absolute;*/
/*    right: 2px;*/
/*    bottom: 2px;*/
/*    z-index: 1;*/
/*    border-radius: 4px;*/
/*    opacity: 0;*/
/*    !*-webkit-transition: opacity .12s ease-out;*!*/
/*    transition: opacity .12s ease-out;*/
/*}*/
/*.extra .extra_div1 .extra_div4 .div1{*/
/*    transform: translateY(0%);*/
/*    width: 100%;*/
/*    position: relative;*/
/*    display: block;*/
/*    !*width: 0;*!*/
/*    height: 0;*/
/*    cursor: pointer;*/
/*    border-radius: inherit;*/
/*    background-color: rgba(144,147,153,.3);*/
/*    !*-webkit-transition: background-color .3s;*!*/
/*    transition: background-color .3s;*/
/*}*/

/*.extra_bottom{*/
/*    left: 35px;*/
/*    top: -6px;*/
/*    !*left: 50%;*!*/
/*    margin-right: 3px;*/
/*    border-top-width: 0;*/
/*    border-bottom-color: #ebeef5;*/
/*    border-width: 6px;*/
/*    !*-webkit-filter: drop-shadow(0 2px 12px rgba(0,0,0,.03));*!*/
/*    filter: drop-shadow(0 2px 12px rgba(0,0,0,.03));*/
/*    position: absolute;*/
/*    display: block;*/
/*    width: 0;*/
/*    height: 0;*/
/*    border-color: transparent;*/
/*    border-style: solid;*/
/*}*/