<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>학교별 게시판</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="gasiview.css">

</head>
<body style>
    <a id="topID"></a>

    

<!--  -->



<!--  -->
    <div id="ctWrap">
        <div id="container">
            <div style="margin:0px 6%;padding:15px;border:1px solid rgb(225,225,225);background-color:rgb(249,249,249);">
                ◇ 개인정보 보호법 제59조 3호에 의해 다른 사람의 개인정보를 유출하는 자는 
                5년 이하의 징역 또는 5천만원 이하의 벌금이 부과될 수 있으며, 
                등록된 글에 대한 법적 책임은 글쓴이에게 있습니다. 
                또한 파일 첨부시 반드시 개인정보 유무를 확인해 주시기 바랍니다.
                <br>
                <br>
                ◇ <span style="color:rgb(255,0,0);font-weight:bold;">
                    폰트파일
                  </span>
                    은 저작권법상 컴퓨터 프로그램 저작물로 저작권 보호를 받고 있어,
                    <span style="color:rgb(255,0,0);"> 불법 복제 및 무단 이용 시</span>
                    발생하는 민・형사상의 책임은 불법 행위를 한 본인에게 있습니다.
            </div>

            <div style="text-align:right;color:rgb(0,102,204);font-size:13px;font-weight:bold;margin-bottom:4px;">
                <p style="color:rgb(0,0,255);margin-top:5px;margin-right:6%;">
                    ◇게시글 보존년한은 5년 입니다.
                </p>
            </div>

            <!-- 게시판 읽기 시작 -->

            <article id="bo_v" style="width:100%">
                <header>
                    <h2 id="bo_v_title">
                                    <span class="bo_v_tit">
                        2015 여름방학 가정통신문</span>
                    </h2>
                </header>
            
                <section id="bo_v_info">
                    <h2>페이지 정보</h2>
                    <span class="sound_only">작성자</span> <strong><span class="sv_member">관리자</span></strong>
                    <span class="sound_only">댓글</span><strong><a href="#bo_vc"> <i class="fa fa-commenting-o" aria-hidden="true"></i> 0건</a></strong>
                    <span class="sound_only">조회</span><strong><i class="fa fa-eye" aria-hidden="true"></i> 6,212회</strong>
                    <strong class="if_date"><span class="sound_only">작성일</span><i class="fa fa-clock-o" aria-hidden="true"></i> 15-07-16 08:58</strong>
                </section>
            
                <section id="bo_v_atc">
                    <h2 id="bo_v_atc_title">본문</h2>
            
                    
                    <div id="bo_v_img">
            </div>
            
                    <!-- 본문 내용 시작 { -->
                    <div id="bo_v_con"><p style="margin:0px;">&nbsp;</p>
            <p style="margin:0px;">안녕하세요? </p>
            <p style="margin:0px;">ㅇ2015 여름방학 가정통신문을 첨부파일로 올립니다.</p></div>
                            <!-- } 본문 내용 끝 -->
            
                    
            
                </section>
            
                <div id="bo_v_share">
                    
                    <!--  추천 비추천 시작 { -->
                            <!-- }  추천 비추천 끝 -->
            
                    
                        </div>
            
                
                    <!-- 첨부파일 시작 { -->
                <section id="bo_v_file">
                    <h2>첨부파일</h2>
                    <ul>
                                <li>
                            <i class="fa fa-download" aria-hidden="true"></i>
                            <a href="https://ewha.hs.kr/bbs/download.php?bo_table=0502&amp;wr_id=31&amp;no=0&amp;sst=wr_hit&amp;sod=desc&amp;sop=and&amp;page=1" class="view_file_download">
                                <strong>2015_여름방학_가정통신문.hwp</strong>
                            </a>
                             (70.5K)
                            <span class="bo_v_file_cnt">1303회 다운로드 | DATE : 2015-07-16 09:00:21</span>
                        </li>
                            </ul>
                </section>
                <!-- } 첨부파일 끝 -->
                
                
                <!-- 게시물 상단 버튼 시작 { -->
                <div id="bo_v_top">
                    
                    <ul class="bo_v_left">
                    </ul>
            
                    <ul class="bo_v_com">
                       
                        <li><a href="https://ewha.hs.kr/bbs/board.php?bo_table=0502&amp;sst=wr_hit&amp;sod=desc&amp;sop=and&amp;page=1" class="btn_b01 btn"><i class="fa fa-list" aria-hidden="true"></i> 목록</a></li>
                    </ul>
            
                </div>
                <!-- } 게시물 상단 버튼 끝 -->
            
            
            </article>
            



</div>
        <aside id="sideBar">
            <h2 class="sound_only">사이트 전체메뉴</h2>
    
            <!-- SNB // -->
            <ul id="snb">
                <li class="snb bo_table0101 d1_bbsboardphpbotable0101 bo_table0101 bo_table0102 bo_table0103 bo_table0104 bo_table0105 bo_table0106 bo_table0107 bo_table0108 bo_table0109 bo_table0110 hide">
                    <h2>
                        <a href="/bbs/board.php?bo_table=0101" target="_self">
                            <b>이화여고</b> 
                            <sub>ewha.hs.kr</sub>
                        </a>
                    </h2>
                    <em class="snb2dDown">
                        <i class="fa fa-angle-down"></i>
                        <u class="fa fa-angle-up"></u>
                    </em>
                    <ul class="snb2dul">
                        
                            <li class="snb2d snb2d_bo_table0501 d2_bbsboardphp"><a href="/bbs/board.php?bo_table=0501" target="_self"><b><i class="fa fa-angle-right"></i> 공지사항</b></a></li>
                            <li class="snb2d snb2d_bo_table0502 d2_bbsboardphp"><a href="/bbs/board.php?bo_table=0502" target="_self"><b><i class="fa fa-angle-right"></i> 가정통신문</b></a></li>
                            <li class="snb2d snb2d_bo_table0503 d2_bbsboardphp"><a href="/bbs/board.php?bo_table=0503" target="_self"><b><i class="fa fa-angle-right"></i> 학교자료방</b></a></li>
                            <li class="snb2d snb2d_bo_table0507 d2_bbsboardphp"><a href="/bbs/board.php?bo_table=0507" target="_self"><b><i class="fa fa-angle-right"></i> 교내대회</b></a></li>
                            <li class="snb2d snb2d_bo_table0504 d2_bbsboardphp"><a href="/bbs/board.php?bo_table=0504" target="_self"><b><i class="fa fa-angle-right"></i> 정보보안</b></a></li>
                            <li class="snb2d snb2d_bo_table0505 d2_bbsboardphp"><a href="/bbs/board.php?bo_table=0505" target="_self"><b><i class="fa fa-angle-right"></i> 기숙사안내</b></a></li>
                            <li class="snb2d snb2d_bo_table0506 d2_bbsboardphp"><a href="/bbs/board.php?bo_table=0506" target="_self"><b><i class="fa fa-angle-right"></i> 학사일정표</b></a></li>
                        </ul>
                    </li>
                            <li class="snb bo_table0601 d1_bbsboardphpbotable0601 bo_table0601 bo_table0602 bo_table0603 bo_table0604 active show"><h2><a href="" target="_self"><b>학교별 페이지</b> <sub>놀이터</sub></a></h2>
                                <em class="snb2dDown"><i class="fa fa-angle-down"></i><u class="fa fa-angle-up"></u></em>
                                <ul class="snb2dul">
                                    <li class="snb2d snb2d_bo_table0602 d2_bbsboardphp">
                                        <a href="/bbs/board.php?bo_table=0602" target="_self">
                                            <b>
                                                <i class="fa fa-angle-right"></i> 급식메뉴
                                            </b>
                                        </a>
                                    </li>
                                    <li class="snb2d snb2d_bo_table0601 d2_bbsboardphp active show">
                                        <a href="/bbs/board.php?bo_table=0601" target="_self">
                                            <b>
                                                <i class="fa fa-angle-right"></i> 가정통신문
                                            </b>
                                        </a>
                                    </li>
                                    <li class="snb2d snb2d_bo_table0603 d2_bbsboardphp">
                                        <a href="/bbs/board.php?bo_table=0603" target="_self">
                                            <b>
                                                <i class="fa fa-angle-right"></i>학교일정
                                            </b>
                                        </a>
                                    </li>
                            </ul></li>
    
    <script>
    $(function(){
            $(".snb.bo_table0601, .snb .snb2d_bo_table0601").addClass("active");
            $(".snb.d1_bbs, .snb .d2_bbs").addClass("active");
    });
    $(document).ready(function(){
        if($("#snb > li").is(".snb.active")){
            $(".loc1D").text($("#snb .bo_table0601 h2 a b, .d1_bbs h2 a b").text());
            $(".loc2D").html($(".snb2d_bo_table0601 a b, .d2_bbs a b").html());
            $(".faArr").html("<i class='fa fa-angle-right'></i>");
            var a=$("#snb > li").index("#snb > li.active");
            $("#page_title").addClass("subTopBg_0"+($("#snb > li.bo_table0601, #snb > li.d1_bbs").index()+1));
        } else {
            $(".loc1D").text("급식메뉴");
            $(".noInfoPageTit").html("<h2><a><b>급식메뉴</b><sub>ewha.hs.kr</sub></a></h2>");
            $(".noInfoPageTit").addClass("active");
            $("#page_title").addClass("subTopBg_00");
        }
    });
    $(function(){
        $(".noInfoPageTit.none_bbs").addClass("displayNoneImportant");
        $(".noInfoPageTit.none_bbs").removeClass("active");
    });
    </script>
    <script>$(function(){ var a=$("#snb li.snb"); a.addClass("hide"); $("#snb li.active").removeClass("hide").addClass("show"); $("#snb li.active .snb2dul").show(); $(".snb2dDown").click(function(){ var b=$(this).parents("#snb li.snb"); if(b.hasClass("hide")){ a.addClass("hide").removeClass("show"); a.find(".snb2dul").slideUp("fast"); b.removeClass("hide").addClass("show"); b.find(".snb2dul").slideDown("fast"); } else { b.removeClass("show").addClass("hide"); b.find(".snb2dul").slideUp("fast"); } }) }); $(".snb").removeClass("d1_bbscontentphp"); $(".snb2d").removeClass("d2_bbscontentphp");</script>
    
            
        </aside>
    </div>

</body>
</html>