<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>학교별 게시판</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="haksa.css">

</head>
<body style>
    <a id="topID"></a>

    

<!--  -->



<!--  -->
<div id="ctWrap">
    <div id="container">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tbody><tr>
                <td width="20%">&nbsp;</td>
                <td width="60%" height="30" align="center">
                    <table border="0" cellspacing="5" cellpadding="0">
                        <tbody><tr>
                            <td>
                                <a href="/bbs/board.php?bo_table=0506&amp;year=2022&amp;month=9&amp;sc_no="><img src="https://ewha.hs.kr/theme/ewha/skin/board/hp5_schedule03_2019_1222_v6/img/y_prev.gif" border="0" alt="2022년"></a>
                            </td>
                            <td>
                                <a href="/bbs/board.php?bo_table=0506&amp;year=2023&amp;month=8&amp;sc_no="><img src="https://ewha.hs.kr/theme/ewha/skin/board/hp5_schedule03_2019_1222_v6/img/m_prev.gif" border="0" alt="8월"></a>
                            </td>
                            <td style="padding:0 10px;font-size:18px;font-weight:bold;">
                                <a href="/bbs/board.php?bo_table=0506" title="오늘로" onfocus="this.blur()">2023년&nbsp;9월</a></td>
                            <td>
                                <a href="/bbs/board.php?bo_table=0506&amp;year=2023&amp;month=10&amp;sc_no="><img src="https://ewha.hs.kr/theme/ewha/skin/board/hp5_schedule03_2019_1222_v6/img/m_next.gif" border="0" alt="10월"></a>
                            </td>
                            <td>
                                <a href="/bbs/board.php?bo_table=0506&amp;year=2024&amp;month=9&amp;sc_no="><img src="https://ewha.hs.kr/theme/ewha/skin/board/hp5_schedule03_2019_1222_v6/img/y_next.gif" border="0" alt="2024년"></a>
                            </td>
                        </tr>
                    </tbody></table>			
                </td>
                <td width="20%" align="right">
                            </td>
            </tr>
        </tbody>
    </table>

    <!--  -->


    <div id="bo_list">
        <div id="popup_1" class="popup_layer" style="display: none; left: 541.125px; top: 83px;"> 
                        ( 작성자 : 최고관리자 )<br><p>학생 상담기간<br></p>			</div><div id="popup_2" class="popup_layer" style="display: none; left: 315.055px; top: 164px;"> 
                        ( 작성자 : 최고관리자 )<br><p>1,2학년 학력평가, 3학년 모평<br></p>			</div><div id="popup_3" class="popup_layer" style="display: none; left: 541.125px; top: 164px;"> 
                        ( 작성자 : 최고관리자 )<br><p>학부모 공개수업<br></p>			</div><div id="popup_4" class="popup_layer" style="display: none; left: 315.055px; top: 245px;"> 
                        ( 작성자 : 최고관리자 )<br><p>자치(창의/학급회의)<br></p>			</div><div id="popup_5" class="popup_layer" style="display: none; left: 315.055px; top: 326px;"> 
                        ( 작성자 : 최고관리자 )<br><p>성매매 예방교육, 음주 예방교육<br></p>			</div><div id="popup_6" class="popup_layer" style="display: none; left: 315.055px; top: 407px;"> 
                        ( 작성자 : 최고관리자 )<br><p>자치(창의/학급회의)<br></p>			</div><table width="100%" bgcolor="#cfcfcf" border="0" cellspacing="1" cellpadding="5">
            <thead>
                <tr bgcolor="#fdfac2" align="center">     
                    <th style="color:#ff0000">일</th>
                    <th>월</th>
                    <th>화</th>
                    <th>수</th>
                    <th>목</th>
                    <th>금</th>
                    <th style="color:#0000ff">토</th>
                </tr>
            </thead>
            
            <tbody>
                        <!-- 뷰 팝업레이어 -->
                    
                                <!-- 뷰 팝업레이어 -->
                    
                                <!-- 뷰 팝업레이어 -->
                    
                                <!-- 뷰 팝업레이어 -->
                    
                                <!-- 뷰 팝업레이어 -->
                    
                                <!-- 뷰 팝업레이어 -->
                    
                            <tr>
                    <td width="14.285714285714%" height="80" bgcolor="#f9fafe" valign="top">&nbsp;</td>
                    <td width="14.285714285714%" height="80" bgcolor="#f9fafe" valign="top">&nbsp;</td>
                    <td width="14.285714285714%" height="80" bgcolor="#f9fafe" valign="top">&nbsp;</td>
                    <td width="14.285714285714%" height="80" bgcolor="#f9fafe" valign="top">&nbsp;</td>
                    <td width="14.285714285714%" height="80" bgcolor="#f9fafe" valign="top">&nbsp;</td>
                    <td width="14.285714285714%" height="80" bgcolor="#ffffff" valign="top"><font color="">1</font> <font color=""></font> <br><img src="https://ewha.hs.kr/theme/ewha/skin/board/hp5_schedule03_2019_1222_v6/img/icon.gif" align="absmiddle"> <a href="https://ewha.hs.kr/bbs/board.php?bo_table=0506&amp;year=2023&amp;month=9&amp;wr_id=447&amp;sc_no=" id="subject_1" onmouseover="PopupShow('1')" onmouseout="PopupHide('1')">학생 상담기간</a></td>
                    <td width="14.285714285714%" height="80" bgcolor="#ffffff" valign="top"><font color="#0000ff">2</font> <font color=""></font> </td>
                </tr>
                <tr>
                    <td width="14.285714285714%" height="80" bgcolor="#ffffff" valign="top"><font color="#ff0000">3</font> <font color=""></font> </td>
                    <td width="14.285714285714%" height="80" bgcolor="#ffffff" valign="top"><font color="">4</font> <font color=""></font> </td>
                    <td width="14.285714285714%" height="80" bgcolor="#ffffff" valign="top"><font color="">5</font><font color="gray">&nbsp;(음)7.21</font> <font color=""></font> </td>
                    <td width="14.285714285714%" height="80" bgcolor="#ffffff" valign="top"><font color="">6</font> <font color=""></font> <br><img src="https://ewha.hs.kr/theme/ewha/skin/board/hp5_schedule03_2019_1222_v6/img/icon.gif" align="absmiddle"> <a href="https://ewha.hs.kr/bbs/board.php?bo_table=0506&amp;year=2023&amp;month=9&amp;wr_id=451&amp;sc_no=" id="subject_2" onmouseover="PopupShow('2')" onmouseout="PopupHide('2')">1,2학년 학력평가, 3학년 모평</a></td>
                    <td width="14.285714285714%" height="80" bgcolor="#ffffff" valign="top"><font color="">7</font> <font color=""></font> </td>
                    <td width="14.285714285714%" height="80" bgcolor="#ffffff" valign="top"><font color="">8</font> <font color=""></font> <br><img src="https://ewha.hs.kr/theme/ewha/skin/board/hp5_schedule03_2019_1222_v6/img/icon.gif" align="absmiddle"> <a href="https://ewha.hs.kr/bbs/board.php?bo_table=0506&amp;year=2023&amp;month=9&amp;wr_id=452&amp;sc_no=" id="subject_3" onmouseover="PopupShow('3')" onmouseout="PopupHide('3')">학부모 공개수업</a></td>
                    <td width="14.285714285714%" height="80" bgcolor="#ffffff" valign="top"><font color="#0000ff">9</font> <font color=""></font> </td>
                </tr>
                <tr>
                    <td width="14.285714285714%" height="80" bgcolor="#ffffff" valign="top"><font color="#ff0000">10</font> <font color=""></font> </td>
                    <td width="14.285714285714%" height="80" bgcolor="#ffffff" valign="top"><font color="">11</font> <font color=""></font> </td>
                    <td width="14.285714285714%" height="80" bgcolor="#ffffff" valign="top"><font color="">12</font> <font color=""></font> </td>
                    <td width="14.285714285714%" height="80" bgcolor="#ffffff" valign="top"><font color="">13</font> <font color=""></font> <br><img src="https://ewha.hs.kr/theme/ewha/skin/board/hp5_schedule03_2019_1222_v6/img/icon.gif" align="absmiddle"> <a href="https://ewha.hs.kr/bbs/board.php?bo_table=0506&amp;year=2023&amp;month=9&amp;wr_id=453&amp;sc_no=" id="subject_4" onmouseover="PopupShow('4')" onmouseout="PopupHide('4')">자치(창의/학급회의)</a></td>
                    <td width="14.285714285714%" height="80" bgcolor="#ffffff" valign="top"><font color="">14</font> <font color=""></font> </td>
                    <td width="14.285714285714%" height="80" bgcolor="#ffffff" valign="top"><font color="">15</font><font color="gray">&nbsp;(음)8.1</font> <font color=""></font> </td>
                    <td width="14.285714285714%" height="80" bgcolor="#ffffff" valign="top"><font color="#0000ff">16</font> <font color=""></font> </td>
                </tr>
                <tr>
                    <td width="14.285714285714%" height="80" bgcolor="#ffffff" valign="top"><font color="#ff0000">17</font> <font color=""></font> </td>
                    <td width="14.285714285714%" height="80" bgcolor="#ffffff" valign="top"><font color="">18</font> <font color=""></font> </td>
                    <td width="14.285714285714%" height="80" bgcolor="#ffffff" valign="top"><font color="">19</font> <font color=""></font> </td>
                    <td width="14.285714285714%" height="80" bgcolor="#ffffff" valign="top"><font color="">20</font> <font color=""></font> <br><img src="https://ewha.hs.kr/theme/ewha/skin/board/hp5_schedule03_2019_1222_v6/img/icon.gif" align="absmiddle"> <a href="https://ewha.hs.kr/bbs/board.php?bo_table=0506&amp;year=2023&amp;month=9&amp;wr_id=454&amp;sc_no=" id="subject_5" onmouseover="PopupShow('5')" onmouseout="PopupHide('5')">성매매 예방교육, 음주 예방교육</a></td>
                    <td width="14.285714285714%" height="80" bgcolor="#ffffff" valign="top"><font color="">21</font> <font color=""></font> </td>
                    <td width="14.285714285714%" height="80" bgcolor="#ffffff" valign="top"><font color="">22</font> <font color=""></font> </td>
                    <td width="14.285714285714%" height="80" bgcolor="#ffffff" valign="top"><font color="#0000ff">23</font> <font color=""></font> </td>
                </tr>
                <tr>
                    <td width="14.285714285714%" height="80" bgcolor="#ffffff" valign="top"><font color="#ff0000">24</font> <font color=""></font> </td>
                    <td width="14.285714285714%" height="80" bgcolor="#ffffff" valign="top"><font color="">25</font><font color="gray">&nbsp;(음)8.11</font> <font color=""></font> </td>
                    <td width="14.285714285714%" height="80" bgcolor="#DEFADE" valign="top"><font color="">26</font> <font color=""></font> </td>
                    <td width="14.285714285714%" height="80" bgcolor="#ffffff" valign="top"><font color="">27</font> <font color=""></font> <br><img src="https://ewha.hs.kr/theme/ewha/skin/board/hp5_schedule03_2019_1222_v6/img/icon.gif" align="absmiddle"> <a href="https://ewha.hs.kr/bbs/board.php?bo_table=0506&amp;year=2023&amp;month=9&amp;wr_id=455&amp;sc_no=" id="subject_6" onmouseover="PopupShow('6')" onmouseout="PopupHide('6')">자치(창의/학급회의)</a></td>
                    <td width="14.285714285714%" height="80" bgcolor="#ffffff" valign="top"><font color="red">28</font> <font color=""></font> <font color="red">추석연휴</font></td>
                    <td width="14.285714285714%" height="80" bgcolor="#ffffff" valign="top"><font color="red">29</font> <font color=""></font> <img src="https://ewha.hs.kr/theme/ewha/skin/board/hp5_schedule03_2019_1222_v6/img/bull_26.gif" align="absmiddle"><font color="red">추석</font></td>
                    <td width="14.285714285714%" height="80" bgcolor="#ffffff" valign="top"><font color="red">30</font> <font color=""></font> <font color="red">추석연휴</font></td>
                </tr>
            </tbody>
        </table>
        </div>
</div>
        <!--  -->

        <aside id="sideBar">
            <h2 class="sound_only">사이트 전체메뉴</h2>
    
            <!-- SNB // -->
            <ul id="snb">
                <li class="snb bo_table0101 d1_bbsboardphpbotable0101 bo_table0101 bo_table0102 bo_table0103 bo_table0104 bo_table0105 bo_table0106 bo_table0107 bo_table0108 bo_table0109 bo_table0110 hide">
                    <h2>
                        <a href="/bbs/board.php?bo_table=0101" target="_self">
                            <b>이화여고</b> 
                            <sub>ewha.hs.kr</sub>
                        </a>
                    </h2>
                    <em class="snb2dDown">
                        <i class="fa fa-angle-down"></i>
                        <u class="fa fa-angle-up"></u>
                    </em>
                    <ul class="snb2dul">
                        
                            <li class="snb2d snb2d_bo_table0501 d2_bbsboardphp"><a href="/bbs/board.php?bo_table=0501" target="_self"><b><i class="fa fa-angle-right"></i> 공지사항</b></a></li>
                            <li class="snb2d snb2d_bo_table0502 d2_bbsboardphp"><a href="/bbs/board.php?bo_table=0502" target="_self"><b><i class="fa fa-angle-right"></i> 가정통신문</b></a></li>
                            <li class="snb2d snb2d_bo_table0503 d2_bbsboardphp"><a href="/bbs/board.php?bo_table=0503" target="_self"><b><i class="fa fa-angle-right"></i> 학교자료방</b></a></li>
                            <li class="snb2d snb2d_bo_table0507 d2_bbsboardphp"><a href="/bbs/board.php?bo_table=0507" target="_self"><b><i class="fa fa-angle-right"></i> 교내대회</b></a></li>
                            <li class="snb2d snb2d_bo_table0504 d2_bbsboardphp"><a href="/bbs/board.php?bo_table=0504" target="_self"><b><i class="fa fa-angle-right"></i> 정보보안</b></a></li>
                            <li class="snb2d snb2d_bo_table0505 d2_bbsboardphp"><a href="/bbs/board.php?bo_table=0505" target="_self"><b><i class="fa fa-angle-right"></i> 기숙사안내</b></a></li>
                            <li class="snb2d snb2d_bo_table0506 d2_bbsboardphp"><a href="/bbs/board.php?bo_table=0506" target="_self"><b><i class="fa fa-angle-right"></i> 학사일정표</b></a></li>
                        </ul>
                    </li>
                            <li class="snb bo_table0601 d1_bbsboardphpbotable0601 bo_table0601 bo_table0602 bo_table0603 bo_table0604 active show"><h2><a href="" target="_self"><b>학교별 페이지</b> <sub>놀이터</sub></a></h2>
                                <em class="snb2dDown"><i class="fa fa-angle-down"></i><u class="fa fa-angle-up"></u></em>
                                <ul class="snb2dul">
                                    <li class="snb2d snb2d_bo_table0602 d2_bbsboardphp">
                                        <a href="/bbs/board.php?bo_table=0602" target="_self">
                                            <b>
                                                <i class="fa fa-angle-right"></i> 급식메뉴
                                            </b>
                                        </a>
                                    </li>
                                    <li class="snb2d snb2d_bo_table0603 d2_bbsboardphp">
                                        <a href="/bbs/board.php?bo_table=0603" target="_self">
                                            <b>
                                                <i class="fa fa-angle-right"></i>가정통신문
                                            </b>
                                        </a>
                                    </li>
                                    <li class="snb2d snb2d_bo_table0601 d2_bbsboardphp active show">
                                        <a href="/bbs/board.php?bo_table=0601" target="_self">
                                            <b>
                                                <i class="fa fa-angle-right"></i> 학교일정
                                            </b>
                                        </a>
                                    </li>
                            </ul></li>
    
    <script>
    $(function(){
            $(".snb.bo_table0601, .snb .snb2d_bo_table0601").addClass("active");
            $(".snb.d1_bbs, .snb .d2_bbs").addClass("active");
    });
    $(document).ready(function(){
        if($("#snb > li").is(".snb.active")){
            $(".loc1D").text($("#snb .bo_table0601 h2 a b, .d1_bbs h2 a b").text());
            $(".loc2D").html($(".snb2d_bo_table0601 a b, .d2_bbs a b").html());
            $(".faArr").html("<i class='fa fa-angle-right'></i>");
            var a=$("#snb > li").index("#snb > li.active");
            $("#page_title").addClass("subTopBg_0"+($("#snb > li.bo_table0601, #snb > li.d1_bbs").index()+1));
        } else {
            $(".loc1D").text("급식메뉴");
            $(".noInfoPageTit").html("<h2><a><b>급식메뉴</b><sub>ewha.hs.kr</sub></a></h2>");
            $(".noInfoPageTit").addClass("active");
            $("#page_title").addClass("subTopBg_00");
        }
    });
    $(function(){
        $(".noInfoPageTit.none_bbs").addClass("displayNoneImportant");
        $(".noInfoPageTit.none_bbs").removeClass("active");
    });
    </script>
    <script>$(function(){ var a=$("#snb li.snb"); a.addClass("hide"); $("#snb li.active").removeClass("hide").addClass("show"); $("#snb li.active .snb2dul").show(); $(".snb2dDown").click(function(){ var b=$(this).parents("#snb li.snb"); if(b.hasClass("hide")){ a.addClass("hide").removeClass("show"); a.find(".snb2dul").slideUp("fast"); b.removeClass("hide").addClass("show"); b.find(".snb2dul").slideDown("fast"); } else { b.removeClass("show").addClass("hide"); b.find(".snb2dul").slideUp("fast"); } }) }); $(".snb").removeClass("d1_bbscontentphp"); $(".snb2d").removeClass("d2_bbscontentphp");</script>
    
            
        </aside>
    </div>

</body>
</html>