body {
    margin: 0;
    padding: 0;
    font-size: 0.75em;
    font-family: 'Noto Sans Korean','Malgun Gothic', dotum, sans-serif;
    background: #fff;
    min-width: 280px;
}

body{
    display: block;
}

#topID {
    display: block;
    position: absolute;
    left: 0px;
    top: 2px;
}


a {
    color: #000;
    text-decoration: none;
}

#ctWrap {
    width: 100%;
    max-width: 1200px;
    margin: 50px auto 100px;
}

div {
    display: block;
}

#ctWrap::after {
    content: '';
    display: block;
    clear: both;
}

#container {
    float: right;
    width: 75%;
    min-height: 200px;
    height: auto !important;
    height: auto;
    font-size: 1em;
    zoom: 1;
}

#container::after {
    display: block;
    visibility: hidden;
    clear: both;
    content: "";
}

#bo_list {
    position: relative;
    margin-bottom: 20px;
}

#bo_list {
    margin: 50px 0px 50px 20px;
}

style {
    display: none;
}

table {
    display: table;
    border-collapse: separate;
    text-indent: initial;
    border-color: gray;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

:-webkit-any(table, thead, tbody, tfoot, tr) > form:-internal-is-html {
    display: none !important;
}














#sideBar {
    float: left;
    width: 20%;
}


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 0.75em;
    font-family: 'Noto Sans Korean','Malgun Gothic', dotum, sans-serif;
    background: #fff;
    min-width: 280px;
}


.sound_only {
    display: inline-block !important;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0;
    line-height: 0;
    border: 0 !important;
    overflow: hidden !important;
}

h2 {
    font-size: 1em;
    font-family: 'Noto Sans Korean','Malgun Gothic', dotum, sans-serif;
}

h2 {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#snb {
    width: 100%;
    margin-top: -50px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul {
    display: contents;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#snb > li.snb {
    width: 100%;
    display: none;
}

li {
    text-align: -webkit-match-parent;
}

#snb > li > h2 {
    width: 100%;
    background: #91cfcc;
}

h2{
    margin: 0;
    padding: 0;
    border: 0;
}

li {
    text-align: -webkit-match-parent;
}

#snb > li > h2 a {
    display: block;
    background: #91cfcc;
    text-align: center;
    padding: 80px 10px;
    color: #fff;
}

a {
    text-decoration: none;
}

a:-webkit-any-link {
    cursor: pointer;
}

#snb > li > h2 a sub {
    display: block;
    padding-top: 10px;
    font-family: vardana;
    font-size: 12px;
    letter-spacing: 0.05em;
    font-weight: normal;
    opacity: 0.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

h2 {
    font-weight: bold;
}

#snb > li > h2 a b {
    display: block;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

b {
    font-weight: bold;
}

sub {
    vertical-align: sub;
}

#snb > li .snb2dDown {
    display: none;
}

em {
    font-style: italic;
}

li {
    text-align: -webkit-match-parent;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

u {
    text-decoration: underline;
}

ul ul {
    margin-block-start: 0px;
    margin-block-end: 0px;
}



#snb > li > ul > li {
    border-bottom: 1px solid #ddd;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

#snb > li > ul > li a {
    overflow: hidden;
}

#snb > li > ul > li a {
    display: block;
    padding: 15px;
    color: #666;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

#snb > li > ul > li a b {
    font-size: 13px;
}

b{
    font-weight: bold;
}

#snb > li.snb.active {
    display: block !important;
}

#snb > li.snb {
    width: 100%;
}

#snb > li > h2 {
    width: 100%;
    background: #91cfcc;
}

#snb > li > h2 a {
    display: block;
    background: #91cfcc;
    text-align: center;
    padding: 80px 10px;
    color: #fff;
}

#snb > li > h2 a b {
    display: block;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#snb > li > h2 a sub {
    display: block;
    padding-top: 10px;
    font-family: vardana;
    font-size: 12px;
    letter-spacing: 0.05em;
    font-weight: normal;
    opacity: 0.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

sub {
    vertical-align: sub;
}

#snb > li .snb2dDown {
    display: none;
}

em {
    font-style: italic;
}

u {
    text-decoration: underline;
}

#snb > li > ul > li {
    border-bottom: 1px solid #ddd;
}

#snb > li > ul > li.snb2d.active a {
    background: #ddd;
    color: #000;
}

#snb > li > ul > li a {
    overflow: hidden;
}

#snb > li > ul > li a {
    display: block;
    padding: 15px;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

#snb > li > ul > li.snb2d.active a {
    color: #000;
}

#snb > li > ul > li a i {
    float: right;
}

/* .fa-angle-right::before {
    content: "\f105";
} */

#snb > li > ul > li {
    border-bottom: 1px solid #ddd;
}

#bo_btn_top {
    margin: 10px 0;
    padding-left: 40px;
}

#bo_btn_top::after {
    display: block;
    visibility: hidden;
    clear: both;
    content: "";
}

#bo_list_total {
    float: left;
    line-height: 30px;
    font-size: 0.92em;
    color: #4e546f;
    padding: 0px;
}

.fa-file-o::before {
    content: "\f016";
}

form {
    margin: 0;
    padding: 0;
    border: 0;
}

form{
    display: contents;
}

input {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Korean','Malgun Gothic', dotum, sans-serif;
    font-size: 1em;
}

input{
    vertical-align: middle;
}

input:not([type="range"]):not([type="color"]):not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="file"]) {
    writing-mode: horizontal-tb !important;
}

input[type="hidden" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    display: none !important;
    border: initial;
}

input {
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    -webkit-rtl-ordering: logical;
}

.sound_only {
    display: inline-block !important;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0;
    line-height: 0;
    border: 0 !important;
    overflow: hidden !important;
}

h2{
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.likeTbl {
    width: 100%;
    margin-bottom: 20px;
}

.likeTbl > ul {
    display: block;
    width: 100%;
}

.likeTbl > ul > li.likeTblTh {
    background: #f8f8f8;
}

.likeTbl > ul > li {
    display: table-row;
    width: 100%;
}

.likeTbl > ul > li.likeTblTh > div {
    padding: 15px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
    text-align: center;
}

.likeTbl > ul > li > div {
    display: table-cell;
}

.likeTbl .td_num {
    width: 60px;
    color: #999;
    font-size: 11px;
}

.likeTbl .td_datetime {
    width: 60px;
    text-align: center;
    font-style: italic;
    color: #999;
    font-size: 11px;
    font-family: verdana;
}

.likeTbl > ul > li {
    display: table-row;
    width: 100%;
}

.likeTbl > ul > li.likeTblTd > div {
    padding: 15px 2px;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
}

.likeTbl .td_num2 {
    width: 50px;
    text-align: center;
    color: #999;
    font-size: 11px;
}

.bo_tit {
    display: block;
    color: #000;
    font-weight: bold;
}

.likeTbl > ul > li.likeTblTd .td_subject .bo_tit a {
    display: block;
}

.likeTbl > ul > li.likeTblTd .td_subject a {
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.likeTbl .bo_tit a {
    font-size: 14px;
}

.onlyMvV {
    display: none;
}

.likeTbl .td_name {
    width: 90px;
    text-align: center;
}

.sv_member {
    color: #333;
}

.likeTbl .td_name {
    text-align: center;
}

.likeTbl .td_num {
    width: 60px;
    text-align: center;
    color: #999;
    font-size: 11px;
}

.likeTbl > ul > li > div.mvInlinev i {
    display: none;
}

.likeTbl .td_datetime {
    width: 60px;
    text-align: center;
    font-style: italic;
    color: #999;
    font-size: 11px;
    font-family: verdana;
}

#bo_v {
    margin-bottom: 20px;
    padding: 0px;
}

article{
    display: block;
}

header{
    display: block;
}

#bo_v_title .bo_v_tit {
    display: block;
    font-size: 2em;
    margin: 5px 0 0;
}

#bo_v_info {
    padding: 10px 0 15px;
    margin: 0 0 20px;
    border-bottom: 1px solid #ddd;
    color: #666;
}

section{
    display: block;
}

#bo_v_info h2 {
    position: absolute;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

#bo_v_info {
    color: #666;
}

.sound_only {
    display: inline-block !important;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 0;
    line-height: 0;
    border: 0 !important;
    overflow: hidden !important;
}

#bo_v_info strong {
    display: inline-block;
    margin: 0 10px 0 0;
    font-weight: normal;
}

#bo_v_info .sv_member {
    color: #000;
    font-weight: bold;
}

#bo_v_info .if_date {
    margin: 0;
    font-style: italic;
    color: #888;
}

#bo_v_info::after {
    display: block;
    visibility: hidden;
    clear: both;
    content: "";
}

#bo_v_atc {
    min-height: 150px;
    height: auto;
}

#bo_v_atc_title {
    position: absolute;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

#bo_v_img {
    width: 100%;
    text-align: center;
    overflow: hidden;
    zoom: 1;
}

#bo_v_img::after {
    display: block;
    visibility: hidden;
    clear: both;
    content: "";
}

#bo_v_con {
    margin: 10px 0 30px;
    width: 100%;
    line-height: 1.7em;
    min-height: 150px;
    word-break: break-all;
    overflow: hidden;
    font-size: 13px;
}

p {
    padding: 0;
    word-break: break-all;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#bo_v_share {
    position: relative;
    margin: 20px 0;
    text-align: right;
}

#bo_v_file {
    margin: 10px 0;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
}

#bo_v_file h2 {
    padding: 10px;
    background: #f3f3f3;
}

#bo_v_file ul {
    margin: 0;
    padding: 5px 0;
    list-style: none;
}

#bo_v_file li {
    padding: 5px 10px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#bo_v_file a {
    display: inline-block;
    color: #c89b43;
    text-decoration: underline;
}

strong {
    font-weight: bold;
}

.bo_v_file_cnt {
    display: block;
    text-align: right;
    color: #888;
    font-size: 0.92em;
}

#bo_v_top {
    zoom: 1;
}

#bo_v_top::after {
    display: block;
    visibility: hidden;
    clear: both;
    content: "";
}

.bo_v_left {
    margin: 20px 0;
    float: left;
}

.bo_v_com {
    margin: 20px 0;
    float: right;
}

.bo_v_com li {
    float: right;
    margin-left: 0px;
}

a.btn_b01, .btn_b01 {
    background: #ffffff;
    color: #666666;
    border: 1px solid #dddddd;
}

.btn_b01 {
    display: inline-block !important;
    padding: 8px 10px;
    font-size: 12px;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

a.btn_b01, .btn_b01 {
    color: #666666;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td {
    display: table-cell;
    vertical-align: inherit;
}