<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>놀이터</title>
    <link rel="stylesheet" href="re.css">
</head>
<body style="overflow: auto;">

    <!-- header -->

    <h2 class="sc-695c2ba5-0 WfZZU">같이기부 모금함 상세</h2>
    <div></div>
    <section class="sc-1a3c6e24-0 eqFEpj">
        <div class="sc-8aeb359-0 hFOIQn sc-1a3c6e24-1 HgrJa">
            <div class="sc-8aeb359-0 hFOIQn sc-9c33d6bc-1 sc-1a3c6e24-4 ghxNyS cMXpSf"></div>
            <!-- <div src="https://mud-kage.kakaocdn.net/dn/blRcIc/btstywb5xOq/0fL5ZwWB44cAjCvkMmR4C1/c360.jpg" class="sc-41d0d892-0 jNqryc"></div>
            </div> -->
            <div class="sc-1a3c6e24-2 idgDx">
                <div class="sc-2d400d90-0 eSgzBo">
                    <!-- <button type="button" color="#ff4050" class="sc-e7c24948-0 gxsTbd button sc-820435de-1 dZwWNP" name="모로코-리비아긴급모금">
                        <span color="white" class="sc-8aeb359-0 fkhoFx sc-5dc55ca7-0 jxJJbH">#</span>
                        <span color="white" class="sc-5dc55ca7-0 sc-820435de-2 caqIee bzPozR">모로코-리비아긴급모금</span>
                    </button> -->
                    <h3 color="black" class="sc-8aeb359-0 hymUBJ sc-5dc55ca7-0 sc-2d400d90-1 exRItp Papik">
                        게시글 제목
                    </h3>
                    <!-- <a color="gray80" href="/teams/193" class="sc-8aeb359-0 bpAvlD sc-5dc55ca7-0 sc-2d400d90-2 bzlbaf jwqHJT undefined sc-eedf5289-1 jGtEdH">
                        유니세프한국위원회
                    </a> -->
                    <div class="sc-8aeb359-0 hFOIQn sc-dd445c0e-0 fkDnWj count_information_container">
                        <!-- <div class="sc-8aeb359-0 oYLXT sc-dd445c0e-1 jNqSqY progress_container">
                            <div width="100%" class="sc-a723563c-0 eNhTsl progress_bar " aria-hidden="true">
                                <div role="progressbar" aria-valuenow="59" aria-valuemin="0" aria-valuemax="100000000" class="sc-a723563c-1 kNnRPz current_progress_bar">

                                </div>
                            </div>
                            <img src="//t1.kakaocdn.net/together_image/common/choonsik_walk.gif" class="sc-dd445c0e-5 jNDhiE status_emoticon_img">
                        </div> -->
                        <div class="sc-8aeb359-0 gVnVx sc-dd445c0e-2 daNeIt count_container" role="text">
                            <div aria-label="" class="sc-dd445c0e-3 jdwAGc number_count">
                                <em size="25" color="black" aria-hidden="true" class="sc-5dc55ca7-0 sc-dd445c0e-6 dydokl hA-dlL text_amount_total">
                                    <span class="sc-695c2ba5-0 WfZZU">
                                        총 모금액
                                    </span>
                                    요즘 들어 성적이 오르지 않아 고민입니다.<br>
                                    입맛도 없고 친구들과의 관계도 영 좋지 않은것 같습니다.<br>
                                    혹시 이런 상황을 경험하거나<br>
                                    경험했다면 어떻게 헤쳐나갔는지 알려주세요.<br>
                                </em>
                                <!-- <span color="gray80" class="sc-5dc55ca7-0 bAcmkP text_amount_goal">
                                    <span class="sc-695c2ba5-0 WfZZU">
                                        목표 금액
                                    </span>
                                    100,000,000원 목표
                                </span> -->
                            </div>
                            <!-- <div class="sc-8aeb359-0 dGPVmq sc-dd445c0e-4 CbTOI ratio_count">
                                <span color="#ff4050" aria-hidden="true" class="sc-5dc55ca7-0 bJGfVp">
                                    <span class="sc-695c2ba5-0 WfZZU">
                                        달성률
                                    </span>
                                    59% 달성
                                </span>
                                <em color="black" class="sc-8aeb359-0 hFOIQn sc-5dc55ca7-0 dSnQsa text_status">
                                    <span class="sc-695c2ba5-0 WfZZU">
                                        모금함 상태
                                    </span>
                                    82일 남음
                            </em>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="sc-8aeb359-0 hFOIQn sc-f7ed3505-0 fAUKZT">
        <div></div>
        
</div>
</div>
</div>
</div>
</div>
<div id="comment" class="sc-f4c5cbb7-0 gmVKaT">
    <h3 class="sc-5dc55ca7-0 eNsqHm">
        작은 응원이 누군가의 세상을 구합니다
    </h3>
    <div class="sc-8aeb359-0 ixfNlY">
        <strong class="sc-695c2ba5-0 WfZZU">
            댓글 쓰기
        </strong>
        <div tabindex="0" class="sc-8aeb359-0 hFOIQn sc-289da4e9-1 fsYXMb">
            <div class="sc-8aeb359-0 hFOIQn sc-611af9b7-0 bTWOMX textarea_field ">
                <div class="sc-8aeb359-0 hFOIQn sc-611af9b7-1 bfKFmo textarea_field_box">
                    <div class="sc-8aeb359-0 cppPdh sc-611af9b7-8 jDMVzj writer_profile_container">
                        <div src="https://t1.kakaocdn.net/together_image/common/avatar/avatar03.png" class="sc-8d574ded-0 llYZxn">

                        </div>
                        <strong class="sc-5dc55ca7-0 joehHl">
                            gof**
                        </strong>
                    </div>
                    <textarea name="textForm" placeholder="따뜻한 댓글을 남겨주세요" class="sc-611af9b7-2 cOpjMa textarea">

                    </textarea>
                </div>
                <div class="sc-611af9b7-3 iVGqkP util_box">
                    
                    </button>
                    <div class="sc-827ce545-0 dKmFJL emoticon_layer">

                    </div>
                    <div class="sc-611af9b7-9 fppNqm">
                        <!-- <span size="13" color="#999" role="text" class="sc-5dc55ca7-0 dMcldW">
                            <span class="sc-695c2ba5-0 WfZZU">
                                입력 글자수
                            </span>
                            <span size="13" color="gray80" class="sc-5dc55ca7-0 hYSRIT">
                                0
                            </span>
                            <span class="sc-695c2ba5-0 WfZZU">
                                최대 입력 글자수
                            </span>
                            /500
                        </span> -->
                        <button type="button" color="black" class="sc-e7c24948-0 JpBrT button sc-289da4e9-0 eLeBAi" id="textareaSubmitButton">
                            등록
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sc-8aeb359-0 ejoHza sc-36758169-0 BkBuU">
        <strong class="sc-5dc55ca7-0 joehHl">
            댓글 20
        </strong>
    </div>
    <div class="sc-8aeb359-0 eussnB sc-36758169-1 lkolbO">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 21 20" width="16" height="16" opacity="1" class="sc-62ee9b1b-0 ffgRtj">
            <circle cx="10.5" cy="10" r="10" fill="#FF0048">

            </circle>
            <mask id="a" maskUnits="userSpaceOnUse" x="5" y="5" width="12" height="10">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.167 5h11v10h-11V5z" fill="#fff">

                </path>
            </mask>
            <g mask="url(#a)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.573 6.444c-.325 0-.58.098-.671.14-.95.443-.951 
                1.392-.948 1.5v.027c0 1.519 1.593 2.822 
                3.713 3.821 2.12-1 3.713-2.302 
                3.712-3.82l.001-.036c.003-.1 0-1.05-.953-1.495-.212-.094-1.333-.511-2.14.798a.728.728 0 
                0 1-1.24 0c-.465-.754-1.034-.935-1.474-.935zM15.44 15a.73.73 0 
                0 1-.16-.018c-.95-.213-2.786-.683-4.613-1.468-1.828.785-3.665 1.255-4.613 
                1.468a.723.723 0 1 1-.32-1.412 27.083 27.083 0 0 0 3.188-.92C7.035 11.563 
                5.505 10.078 5.5 8.12c-.005-.244.017-2.022 1.788-2.85.713-.336 2.197-.556 
                3.379.575 1.181-1.13 2.665-.911 3.381-.573 1.769.826 1.79 2.604 1.785 2.848-.005 
                1.957-1.535 3.442-3.422 4.529 1.045.375 2.14.685 3.188.92A.723.723 0 0 1 15.44 15z" fill="#fff">
                </path>
            </g>
        </svg>
        <span class="sc-5dc55ca7-0 kpRjNB">
            타인을
            <span color="#ff4050" class="sc-8aeb359-0 cueQjB sc-5dc55ca7-0 fTeLUS">
                비방하는
            </span>
            댓글은 형사처벌이 가능합니다
        </span>
    </div>
    <div class="sc-8aeb359-0 hTiRNC">
        <div class="sc-929b507f-0 eaFmFC">
            <div class="sc-8aeb359-0 hFOIQn sc-16ecadde-0 byUxfv">
                <div class="sc-16ecadde-1 iSRxwL">
                    <div src="https://mk.kakaocdn.net/dn/together/images/profile02.png" class="sc-8d574ded-0 jokdLx">

                    </div>
                </div>
                <div class="sc-16ecadde-3 eUXhAe">
                    <div class="sc-8aeb359-0 jlmfeS sc-16ecadde-4 gaWxlP">
                        <div class="sc-16ecadde-5 eiLDmy">
                            <strong color="gray80" class="sc-5dc55ca7-0 sc-16ecadde-16 bzlbaf eIckjY">
                                psy**
                            </strong>
                            <!-- <span color="gray80" class="sc-5dc55ca7-0 sc-16ecadde-6 bzlbaf idpHZR">
                                100원 기부
                            </span> -->
                        </div>
                        <p color="black" class="sc-5dc55ca7-0 sc-16ecadde-7 joFBAH kzbaPc">
                            응원합니다
                        </p>
                    </div>
                    <div class="sc-8aeb359-0 jvkAoc sc-16ecadde-8 iYyHTX">
                        
                        <span color="gray60" class="sc-5dc55ca7-0 qPkKe">2023.9.20</span>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="sc-8aeb359-0 hTiRNC">
            <div class="sc-929b507f-0 eaFmFC">
                <div class="sc-8aeb359-0 hFOIQn sc-16ecadde-0 byUxfv">
                    <div class="sc-16ecadde-1 iSRxwL">
                        <div src="https://mk.kakaocdn.net/dn/together/images/profile02.png" class="sc-8d574ded-0 jokdLx">
    
                        </div>
                    </div>
                    <div class="sc-16ecadde-3 eUXhAe">
                        <div class="sc-8aeb359-0 jlmfeS sc-16ecadde-4 gaWxlP">
                            <div class="sc-16ecadde-5 eiLDmy">
                                <strong color="gray80" class="sc-5dc55ca7-0 sc-16ecadde-16 bzlbaf eIckjY">
                                    psy**
                                </strong>
                                <!-- <span color="gray80" class="sc-5dc55ca7-0 sc-16ecadde-6 bzlbaf idpHZR">
                                    100원 기부
                                </span> -->
                            </div>
                            <p color="black" class="sc-5dc55ca7-0 sc-16ecadde-7 joFBAH kzbaPc">
                                응원합니다
                            </p>
                        </div>
                        <div class="sc-8aeb359-0 jvkAoc sc-16ecadde-8 iYyHTX">
                            
                            <span color="gray60" class="sc-5dc55ca7-0 qPkKe">2023.9.20</span>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="sc-8aeb359-0 hTiRNC">
                <div class="sc-929b507f-0 eaFmFC">
                    <div class="sc-8aeb359-0 hFOIQn sc-16ecadde-0 byUxfv">
                        <div class="sc-16ecadde-1 iSRxwL">
                            <div src="https://mk.kakaocdn.net/dn/together/images/profile02.png" class="sc-8d574ded-0 jokdLx">
        
                            </div>
                        </div>
                        <div class="sc-16ecadde-3 eUXhAe">
                            <div class="sc-8aeb359-0 jlmfeS sc-16ecadde-4 gaWxlP">
                                <div class="sc-16ecadde-5 eiLDmy">
                                    <strong color="gray80" class="sc-5dc55ca7-0 sc-16ecadde-16 bzlbaf eIckjY">
                                        psy**
                                    </strong>
                                    <!-- <span color="gray80" class="sc-5dc55ca7-0 sc-16ecadde-6 bzlbaf idpHZR">
                                        100원 기부
                                    </span> -->
                                </div>
                                <p color="black" class="sc-5dc55ca7-0 sc-16ecadde-7 joFBAH kzbaPc">
                                    응원합니다
                                </p>
                            </div>
                            <div class="sc-8aeb359-0 jvkAoc sc-16ecadde-8 iYyHTX">
                                
                                <span color="gray60" class="sc-5dc55ca7-0 qPkKe">2023.9.20</span>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="sc-8aeb359-0 hTiRNC">
                    <div class="sc-929b507f-0 eaFmFC">
                        <div class="sc-8aeb359-0 hFOIQn sc-16ecadde-0 byUxfv">
                            <div class="sc-16ecadde-1 iSRxwL">
                                <div src="https://mk.kakaocdn.net/dn/together/images/profile02.png" class="sc-8d574ded-0 jokdLx">
            
                                </div>
                            </div>
                            <div class="sc-16ecadde-3 eUXhAe">
                                <div class="sc-8aeb359-0 jlmfeS sc-16ecadde-4 gaWxlP">
                                    <div class="sc-16ecadde-5 eiLDmy">
                                        <strong color="gray80" class="sc-5dc55ca7-0 sc-16ecadde-16 bzlbaf eIckjY">
                                            psy**
                                        </strong>
                                        <!-- <span color="gray80" class="sc-5dc55ca7-0 sc-16ecadde-6 bzlbaf idpHZR">
                                            100원 기부
                                        </span> -->
                                    </div>
                                    <p color="black" class="sc-5dc55ca7-0 sc-16ecadde-7 joFBAH kzbaPc">
                                        응원합니다
                                    </p>
                                </div>
                                <div class="sc-8aeb359-0 jvkAoc sc-16ecadde-8 iYyHTX">
                                    
                                    <span color="gray60" class="sc-5dc55ca7-0 qPkKe">2023.9.20</span>
                                    
                                </div>
                            </div>
                        </div>
                    </div>    

                    <div class="sc-8aeb359-0 hTiRNC">
                        <div class="sc-929b507f-0 eaFmFC">
                            <div class="sc-8aeb359-0 hFOIQn sc-16ecadde-0 byUxfv">
                                <div class="sc-16ecadde-1 iSRxwL">
                                    <div src="https://mk.kakaocdn.net/dn/together/images/profile02.png" class="sc-8d574ded-0 jokdLx">
                
                                    </div>
                                </div>
                                <div class="sc-16ecadde-3 eUXhAe">
                                    <div class="sc-8aeb359-0 jlmfeS sc-16ecadde-4 gaWxlP">
                                        <div class="sc-16ecadde-5 eiLDmy">
                                            <strong color="gray80" class="sc-5dc55ca7-0 sc-16ecadde-16 bzlbaf eIckjY">
                                                psy**
                                            </strong>
                                            <!-- <span color="gray80" class="sc-5dc55ca7-0 sc-16ecadde-6 bzlbaf idpHZR">
                                                100원 기부
                                            </span> -->
                                        </div>
                                        <p color="black" class="sc-5dc55ca7-0 sc-16ecadde-7 joFBAH kzbaPc">
                                            응원합니다
                                        </p>
                                    </div>
                                    <div class="sc-8aeb359-0 jvkAoc sc-16ecadde-8 iYyHTX">
                                        
                                        <span color="gray60" class="sc-5dc55ca7-0 qPkKe">2023.9.20</span>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="sc-8aeb359-0 hTiRNC">
                            <div class="sc-929b507f-0 eaFmFC">
                                <div class="sc-8aeb359-0 hFOIQn sc-16ecadde-0 byUxfv">
                                    <div class="sc-16ecadde-1 iSRxwL">
                                        <div src="https://mk.kakaocdn.net/dn/together/images/profile02.png" class="sc-8d574ded-0 jokdLx">
                    
                                        </div>
                                    </div>
                                    <div class="sc-16ecadde-3 eUXhAe">
                                        <div class="sc-8aeb359-0 jlmfeS sc-16ecadde-4 gaWxlP">
                                            <div class="sc-16ecadde-5 eiLDmy">
                                                <strong color="gray80" class="sc-5dc55ca7-0 sc-16ecadde-16 bzlbaf eIckjY">
                                                    psy**
                                                </strong>
                                                <!-- <span color="gray80" class="sc-5dc55ca7-0 sc-16ecadde-6 bzlbaf idpHZR">
                                                    100원 기부
                                                </span> -->
                                            </div>
                                            <p color="black" class="sc-5dc55ca7-0 sc-16ecadde-7 joFBAH kzbaPc">
                                                응원합니다
                                            </p>
                                        </div>
                                        <div class="sc-8aeb359-0 jvkAoc sc-16ecadde-8 iYyHTX">
                                            
                                            <span color="gray60" class="sc-5dc55ca7-0 qPkKe">2023.9.20</span>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>            

                            <div class="sc-8aeb359-0 hTiRNC">
                                <div class="sc-929b507f-0 eaFmFC">
                                    <div class="sc-8aeb359-0 hFOIQn sc-16ecadde-0 byUxfv">
                                        <div class="sc-16ecadde-1 iSRxwL">
                                            <div src="https://mk.kakaocdn.net/dn/together/images/profile02.png" class="sc-8d574ded-0 jokdLx">
                        
                                            </div>
                                        </div>
                                        <div class="sc-16ecadde-3 eUXhAe">
                                            <div class="sc-8aeb359-0 jlmfeS sc-16ecadde-4 gaWxlP">
                                                <div class="sc-16ecadde-5 eiLDmy">
                                                    <strong color="gray80" class="sc-5dc55ca7-0 sc-16ecadde-16 bzlbaf eIckjY">
                                                        psy**
                                                    </strong>
                                                    <!-- <span color="gray80" class="sc-5dc55ca7-0 sc-16ecadde-6 bzlbaf idpHZR">
                                                        100원 기부
                                                    </span> -->
                                                </div>
                                                <p color="black" class="sc-5dc55ca7-0 sc-16ecadde-7 joFBAH kzbaPc">
                                                    응원합니다
                                                </p>
                                            </div>
                                            <div class="sc-8aeb359-0 jvkAoc sc-16ecadde-8 iYyHTX">
                                                
                                                <span color="gray60" class="sc-5dc55ca7-0 qPkKe">2023.9.20</span>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>            

                        
                                <div class="sc-8aeb359-0 hTiRNC">
                                    <div class="sc-929b507f-0 eaFmFC">
                                        <div class="sc-8aeb359-0 hFOIQn sc-16ecadde-0 byUxfv">
                                            <div class="sc-16ecadde-1 iSRxwL">
                                                <div src="https://mk.kakaocdn.net/dn/together/images/profile02.png" class="sc-8d574ded-0 jokdLx">
                            
                                                </div>
                                            </div>
                                            <div class="sc-16ecadde-3 eUXhAe">
                                                <div class="sc-8aeb359-0 jlmfeS sc-16ecadde-4 gaWxlP">
                                                    <div class="sc-16ecadde-5 eiLDmy">
                                                        <strong color="gray80" class="sc-5dc55ca7-0 sc-16ecadde-16 bzlbaf eIckjY">
                                                            psy**
                                                        </strong>
                                                        <!-- <span color="gray80" class="sc-5dc55ca7-0 sc-16ecadde-6 bzlbaf idpHZR">
                                                            100원 기부
                                                        </span> -->
                                                    </div>
                                                    <p color="black" class="sc-5dc55ca7-0 sc-16ecadde-7 joFBAH kzbaPc">
                                                        응원합니다
                                                    </p>
                                                </div>
                                                <div class="sc-8aeb359-0 jvkAoc sc-16ecadde-8 iYyHTX">
                                                    
                                                    <span color="gray60" class="sc-5dc55ca7-0 qPkKe">2023.9.20</span>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="sc-8aeb359-0 hTiRNC">
                                        <div class="sc-929b507f-0 eaFmFC">
                                            <div class="sc-8aeb359-0 hFOIQn sc-16ecadde-0 byUxfv">
                                                <div class="sc-16ecadde-1 iSRxwL">
                                                    <div src="https://mk.kakaocdn.net/dn/together/images/profile02.png" class="sc-8d574ded-0 jokdLx">
                                
                                                    </div>
                                                </div>
                                                <div class="sc-16ecadde-3 eUXhAe">
                                                    <div class="sc-8aeb359-0 jlmfeS sc-16ecadde-4 gaWxlP">
                                                        <div class="sc-16ecadde-5 eiLDmy">
                                                            <strong color="gray80" class="sc-5dc55ca7-0 sc-16ecadde-16 bzlbaf eIckjY">
                                                                psy**
                                                            </strong>
                                                            <!-- <span color="gray80" class="sc-5dc55ca7-0 sc-16ecadde-6 bzlbaf idpHZR">
                                                                100원 기부
                                                            </span> -->
                                                        </div>
                                                        <p color="black" class="sc-5dc55ca7-0 sc-16ecadde-7 joFBAH kzbaPc">
                                                            응원합니다
                                                        </p>
                                                    </div>
                                                    <div class="sc-8aeb359-0 jvkAoc sc-16ecadde-8 iYyHTX">
                                                        
                                                        <span color="gray60" class="sc-5dc55ca7-0 qPkKe">2023.9.20</span>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="sc-8aeb359-0 hTiRNC">
                                            <div class="sc-929b507f-0 eaFmFC">
                                                <div class="sc-8aeb359-0 hFOIQn sc-16ecadde-0 byUxfv">
                                                    <div class="sc-16ecadde-1 iSRxwL">
                                                        <div src="https://mk.kakaocdn.net/dn/together/images/profile02.png" class="sc-8d574ded-0 jokdLx">
                                    
                                                        </div>
                                                    </div>
                                                    <div class="sc-16ecadde-3 eUXhAe">
                                                        <div class="sc-8aeb359-0 jlmfeS sc-16ecadde-4 gaWxlP">
                                                            <div class="sc-16ecadde-5 eiLDmy">
                                                                <strong color="gray80" class="sc-5dc55ca7-0 sc-16ecadde-16 bzlbaf eIckjY">
                                                                    psy**
                                                                </strong>
                                                                <!-- <span color="gray80" class="sc-5dc55ca7-0 sc-16ecadde-6 bzlbaf idpHZR">
                                                                    100원 기부
                                                                </span> -->
                                                            </div>
                                                            <p color="black" class="sc-5dc55ca7-0 sc-16ecadde-7 joFBAH kzbaPc">
                                                                응원합니다
                                                            </p>
                                                        </div>
                                                        <div class="sc-8aeb359-0 jvkAoc sc-16ecadde-8 iYyHTX">
                                                            
                                                            <span color="gray60" class="sc-5dc55ca7-0 qPkKe">2023.9.20</span>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="sc-8aeb359-0 hTiRNC">
                                                <div class="sc-929b507f-0 eaFmFC">
                                                    <div class="sc-8aeb359-0 hFOIQn sc-16ecadde-0 byUxfv">
                                                        <div class="sc-16ecadde-1 iSRxwL">
                                                            <div src="https://mk.kakaocdn.net/dn/together/images/profile02.png" class="sc-8d574ded-0 jokdLx">
                                        
                                                            </div>
                                                        </div>
                                                        <div class="sc-16ecadde-3 eUXhAe">
                                                            <div class="sc-8aeb359-0 jlmfeS sc-16ecadde-4 gaWxlP">
                                                                <div class="sc-16ecadde-5 eiLDmy">
                                                                    <strong color="gray80" class="sc-5dc55ca7-0 sc-16ecadde-16 bzlbaf eIckjY">
                                                                        psy**
                                                                    </strong>
                                                                    <!-- <span color="gray80" class="sc-5dc55ca7-0 sc-16ecadde-6 bzlbaf idpHZR">
                                                                        100원 기부
                                                                    </span> -->
                                                                </div>
                                                                <p color="black" class="sc-5dc55ca7-0 sc-16ecadde-7 joFBAH kzbaPc">
                                                                    응원합니다
                                                                </p>
                                                            </div>
                                                            <div class="sc-8aeb359-0 jvkAoc sc-16ecadde-8 iYyHTX">
                                                                
                                                                <span color="gray60" class="sc-5dc55ca7-0 qPkKe">2023.9.20</span>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="sc-8aeb359-0 hTiRNC">
                                                    <div class="sc-929b507f-0 eaFmFC">
                                                        <div class="sc-8aeb359-0 hFOIQn sc-16ecadde-0 byUxfv">
                                                            <div class="sc-16ecadde-1 iSRxwL">
                                                                <div src="https://mk.kakaocdn.net/dn/together/images/profile02.png" class="sc-8d574ded-0 jokdLx">
                                            
                                                                </div>
                                                            </div>
                                                            <div class="sc-16ecadde-3 eUXhAe">
                                                                <div class="sc-8aeb359-0 jlmfeS sc-16ecadde-4 gaWxlP">
                                                                    <div class="sc-16ecadde-5 eiLDmy">
                                                                        <strong color="gray80" class="sc-5dc55ca7-0 sc-16ecadde-16 bzlbaf eIckjY">
                                                                            psy**
                                                                        </strong>
                                                                        <!-- <span color="gray80" class="sc-5dc55ca7-0 sc-16ecadde-6 bzlbaf idpHZR">
                                                                            100원 기부
                                                                        </span> -->
                                                                    </div>
                                                                    <p color="black" class="sc-5dc55ca7-0 sc-16ecadde-7 joFBAH kzbaPc">
                                                                        응원합니다
                                                                    </p>
                                                                </div>
                                                                <div class="sc-8aeb359-0 jvkAoc sc-16ecadde-8 iYyHTX">
                                                                    
                                                                    <span color="gray60" class="sc-5dc55ca7-0 qPkKe">2023.9.20</span>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="sc-8aeb359-0 hTiRNC">
                                                        <div class="sc-929b507f-0 eaFmFC">
                                                            <div class="sc-8aeb359-0 hFOIQn sc-16ecadde-0 byUxfv">
                                                                <div class="sc-16ecadde-1 iSRxwL">
                                                                    <div src="https://mk.kakaocdn.net/dn/together/images/profile02.png" class="sc-8d574ded-0 jokdLx">
                                                
                                                                    </div>
                                                                </div>
                                                                <div class="sc-16ecadde-3 eUXhAe">
                                                                    <div class="sc-8aeb359-0 jlmfeS sc-16ecadde-4 gaWxlP">
                                                                        <div class="sc-16ecadde-5 eiLDmy">
                                                                            <strong color="gray80" class="sc-5dc55ca7-0 sc-16ecadde-16 bzlbaf eIckjY">
                                                                                psy**
                                                                            </strong>
                                                                            <!-- <span color="gray80" class="sc-5dc55ca7-0 sc-16ecadde-6 bzlbaf idpHZR">
                                                                                100원 기부
                                                                            </span> -->
                                                                        </div>
                                                                        <p color="black" class="sc-5dc55ca7-0 sc-16ecadde-7 joFBAH kzbaPc">
                                                                            응원합니다
                                                                        </p>
                                                                    </div>
                                                                    <div class="sc-8aeb359-0 jvkAoc sc-16ecadde-8 iYyHTX">
                                                                        
                                                                        <span color="gray60" class="sc-5dc55ca7-0 qPkKe">2023.9.20</span>
                                                                        
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="sc-8aeb359-0 hTiRNC">
                                                            <div class="sc-929b507f-0 eaFmFC">
                                                                <div class="sc-8aeb359-0 hFOIQn sc-16ecadde-0 byUxfv">
                                                                    <div class="sc-16ecadde-1 iSRxwL">
                                                                        <div src="https://mk.kakaocdn.net/dn/together/images/profile02.png" class="sc-8d574ded-0 jokdLx">
                                                    
                                                                        </div>
                                                                    </div>
                                                                    <div class="sc-16ecadde-3 eUXhAe">
                                                                        <div class="sc-8aeb359-0 jlmfeS sc-16ecadde-4 gaWxlP">
                                                                            <div class="sc-16ecadde-5 eiLDmy">
                                                                                <strong color="gray80" class="sc-5dc55ca7-0 sc-16ecadde-16 bzlbaf eIckjY">
                                                                                    psy**
                                                                                </strong>
                                                                                <!-- <span color="gray80" class="sc-5dc55ca7-0 sc-16ecadde-6 bzlbaf idpHZR">
                                                                                    100원 기부
                                                                                </span> -->
                                                                            </div>
                                                                            <p color="black" class="sc-5dc55ca7-0 sc-16ecadde-7 joFBAH kzbaPc">
                                                                                응원합니다
                                                                            </p>
                                                                        </div>
                                                                        <div class="sc-8aeb359-0 jvkAoc sc-16ecadde-8 iYyHTX">
                                                                            
                                                                            <span color="gray60" class="sc-5dc55ca7-0 qPkKe">2023.9.20</span>
                                                                            
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>












                        <div class="sc-8aeb359-0 jwCSyt sc-929b507f-1 cQylDd">
                            
                            <button type="button" color="gray20" class="sc-e7c24948-0 lmXfxh button sc-929b507f-2 ghtCuZ">
                                돌아가기
                                
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div style="min-height: 30px;">
            </div>
        </div>
    </div>
    
</div>





















    <!-- footer -->
    <script type="text/javascript" async="" src="https://t1.kakaocdn.net/alex/latest/production/comment.sdk.loader.v1.js"></script>
</body>
</html>